<template>
  <div>
    <!-- BUY -->
    <div class="mt2">
      <div>

        <hr class="mb2">

        <ul class="list-style-none mx-auto mb3" style="max-width: 30rem;line-height:1">

          <!-- contado -->
          <li class="bb mb1 lh-copy">
            <div class="flex flex-end">
              <div class="b f3-ns">
                <!--h3 v-if="!specialCashPrice" class="mt0-5 rojo">Precio más bajo</h3-->
                <!--h3 v-else class="mt0-5 rojo">7% de descuento</h3-->
                De contado o por transferencia
              </div>
    
              <div class="ml-auto tr">
                <s v-if="item.price > lowestPrice"><price class="gris f4" :$="item.price"></price></s>
                <price class="tr f2 rojo b" :$="lowestPrice"></price>
              </div>
            </div>


            
          </li>
          
          
          <div class="mt1 mb2 tr">
            <a :href=" 'https://api.whatsapp.com/send?phone=543517052401&text=' + 'Consulta por el producto: ' + item.title " target="_blank" class="no-decoration flex bg-casi-blanco bg-gris-claro-hover altura-1-hover" style="display:inline-flex">
              <div>
                <span :class="iconClass"><svg viewBox="0 0 24 24" fill="currentColor"><path d="M 19.078125 4.929688 C 17.191406 3.039063 14.683594 2 12.011719 2 C 6.503906 2 2.023438 6.480469 2.023438 11.984375 C 2.019531 13.746094 2.480469 15.464844 3.355469 16.976563 L 1.9375 22.152344 L 7.234375 20.761719 C 8.691406 21.558594 10.335938 21.976563 12.007813 21.980469 L 12.011719 21.980469 C 17.515625 21.980469 21.996094 17.5 22 11.992188 C 22 9.324219 20.964844 6.816406 19.078125 4.929688 Z M 16.898438 15.554688 C 16.691406 16.136719 15.671875 16.699219 15.214844 16.738281 C 14.753906 16.78125 14.324219 16.945313 12.21875 16.117188 C 9.679688 15.117188 8.078125 12.515625 7.953125 12.347656 C 7.828125 12.183594 6.9375 10.996094 6.9375 9.769531 C 6.9375 8.539063 7.582031 7.9375 7.808594 7.6875 C 8.039063 7.4375 8.308594 7.375 8.476563 7.375 C 8.640625 7.375 8.808594 7.375 8.953125 7.382813 C 9.132813 7.386719 9.328125 7.398438 9.515625 7.8125 C 9.738281 8.304688 10.222656 9.539063 10.285156 9.664063 C 10.347656 9.789063 10.390625 9.9375 10.304688 10.101563 C 10.222656 10.269531 10.179688 10.371094 10.058594 10.519531 C 9.933594 10.664063 9.796875 10.84375 9.683594 10.953125 C 9.558594 11.078125 9.429688 11.214844 9.574219 11.464844 C 9.71875 11.714844 10.21875 12.53125 10.960938 13.191406 C 11.914063 14.042969 12.71875 14.304688 12.96875 14.429688 C 13.21875 14.554688 13.363281 14.535156 13.507813 14.367188 C 13.65625 14.203125 14.132813 13.640625 14.300781 13.390625 C 14.464844 13.140625 14.632813 13.183594 14.859375 13.265625 C 15.089844 13.347656 16.316406 13.953125 16.566406 14.078125 C 16.816406 14.203125 16.980469 14.265625 17.042969 14.367188 C 17.105469 14.472656 17.105469 14.972656 16.898438 15.554688 Z "/></svg></span>
              </div>
              <span :class="buyBtnClass" class="f4 f3-l">Consultar por WhatsApp</span>
            </a>

            <div class="mt0-5 p0-5 f3 f2-l v-top nowrap">
              (351) 157 052 401
            </div>
            
          </div>

        </ul>

        <!--h3 class="mx--2 mx-auto-ns" style="min-height: 44px">
          <img alt="TodoPago" aria-label="TodoPago" class="mb2" src="/imagenes/todopago-banner.jpg">
        </h3>

        <ul class="list-style-none mx-auto mb3" style="max-width: 30rem;line-height:1">
          <!-/- 6 cuotas -/->
          <li class="mb1 lh-copy">
            <hr>
            <div class="flex-l flex-end bb">
              <div>
                <span class="b f3-ns">6 cuotas</span>
              </div>
              <div class="ml-auto tr">
                6&nbsp;cuotas de&nbsp;
                <price class="dib" :$="todoPagoPrice/6"></price>
              </div>
              
            </div>
            <div class="gris f7 mt0-5">
              Precio final: <price class="dib" :$="todoPagoPrice"></price>.
            </div>


          </li>
          
          <div v-if="false /* error in TodoPago API */ || todoPagoLink" class="mt1 mb2 tr">
            <a :href="todoPagoLink" onclick="ga('send', 'event', 'BuyButton', 'click', 'todopago');" target="_blank" class="no-decoration flex bg-casi-blanco altura-1-hover" style="display:inline-flex">
              <div>
                <span :class="iconClass" style="color: #E6007E">{{ partial "svg_icons/todopago.svg" }}</span>
              </div>
              <span :class="buyBtnClass" class="f4 f3-l" style="background-color: #E6007E">Comprar en 6 cuotas</span>
            </a>
          </div>
          <div v-else class="f5 rojo-oscuro mb2"><b>Este link de TodoPago en 6 cuotas aún no ha sido generado.</b> Por favor, escríbanos para que lo actualicemos.</div>

          <li class="mb1 lh-copy">
            <div class="flex-l flex-end bb">
              <div>
                <span class="b f3-ns">12 cuotas</span>
              </div>
              <div class="ml-auto tr">
                12&nbsp;cuotas de&nbsp;
                <price class="dib" :$="todoPagoPrice12/12"></price>
              </div>
              
            </div>
            <div class="gris f7 mt0-5">
              Precio final: <price class="dib" :$="todoPagoPrice12"></price>.
            </div>

          </li>
          
          <div v-if="false /* error in TodoPago API */ || todoPagoLink12" class="mt1 mb2 tr">
            <a :href="todoPagoLink12" onclick="ga('send', 'event', 'BuyButton', 'click', 'todopago');" target="_blank" class="no-decoration flex bg-casi-blanco altura-1-hover" style="display:inline-flex">
              <div>
                <span :class="iconClass" style="color: #E6007E">{{ partial "svg_icons/todopago.svg" }}</span>
              </div>
              <span :class="buyBtnClass" class="f4 f3-l" style="background-color: #E6007E">Comprar en 12 cuotas</span>
            </a>
          </div>
          <div v-else class="f5 rojo-oscuro mb2"><b>Este link de TodoPago en 12 cuotas aún no ha sido generado.</b> Por favor, escríbanos para que lo actualicemos.</div>
          
        </ul-->

        <h3 class="mx--2 mx-auto-ns" style="min-height: 44px">
          <img alt="MercadoLibre" aria-label="MercadoLibre" class="mb2" src="/imagenes/mercadolibre-banner.jpg">
        </h3>

        <ul class="list-style-none mx-auto mb3" style="max-width: 30rem;line-height:1">


          <!-- Promociones comprando por MercadoLibre: 12 cuotas -->

          <li class="mb1 lh-copy">
            <hr>
            <div class="flex-l flex-end bb">
              <span><span class="b f2-ns">Hasta 12 cuotas sin interés</span></span>
              <div class="ml-auto tr nowrap">
                12 cuotas de
                <strike v-if="item.original_price" class="gris dib f6"><price :$="item.original_price/12"></price></strike>
                <price class="dib" :$="item.price/12"></price>
              </div>
            </div>
            <div class="gris-oscuro f5 mt0-5">
              Comprando por MercadoLibre con tarjetas de bancos en promoción. <a href="https://www.mercadopago.com.ar/promociones/" target="_blank" class="gris f6">Promociones vigentes en MercadoLibre.</a>
            </div>
            <div class="gris f7 mt0-5">
              <br>Precio final:
              <template v-if="item.original_price">
                <strike class="dib"><price :$="item.original_price"></price></strike>
                <price class="dib f5" :$="item.price"></price>
              </template>
              <price v-else class="dib" :$="item.price"></price>
            </div>
            <div v-if="item.status && item.status !== 'active'" class="rojo"><b>Lo sentimos!</b> Actualmente, el producto no está disponible para ser comprado desde MercadoLibre.</div>
            <div v-if="item.original_price" class="rojo">Info: Este artículo se encuentra temporalmente en promoción en MercadoLibre. <b>¡Comprá ahora y aprovechá el descuento!</b></div>

          </li>
          <div class="mt1 mb2 tr">
            <a :href="item.permalink" onclick="ga('send', 'event', 'BuyButton', 'click', 'mercadolibre');" target="_blank" class="no-decoration flex bg-casi-blanco altura-1-hover" style="display:inline-flex;">
              <div>
                <span :class="iconClass"><svg viewBox="0 0 24 24" style="max-width:5rem;"><use xlink:href="#mercadopago" /></svg></span>
              </div>
              <span :class="buyBtnClass" class="f4 f3-l negro" style="background-color:#f6de01">Comprar&nbsp;por&nbsp;MercadoLibre</span>
            </a>
          </div>

        </ul>

      </div>
    </div>
  </div>
</template>

<script>

import Price from './components/price.vue';

export default {
  name: 'comprar-single',
  components: { Price },
  data: function(){
    return {
      expanded: false,
      buyBtnClass: 'dib bg-rojo bg-rojo-oscuro-hover blanco small-caps px1 py0-5 pb0-5 v-top',
      iconClass: 'dib h2 w2 mx0-5 v-top',
      todoPagoLink: window.todoPagoLink,
      todoPagoPrice: window.todoPagoPrice,
      todoPagoLink12: window.todoPagoLink12,
      todoPagoPrice12: window.todoPagoPrice12,
      lowestPriceMultiplier: window.lowestPriceMultiplier,
      highestPriceMultiplier: window.highestPriceMultiplier,
      specialCashPrice: false,
      promo: (window.promo || undefined),
      brands: JSON.parse(window.brands),
      item: {
        price: 'Cargando...',
      },
    };
  },
  computed: {
    price: function(){
      return (this.item.original_price || this.item.price || false);
    },
    lowestPrice: function(){
      if (this.specialCashPrice) return this.specialCashPrice;
      if (!this.item || !this.price) return false;

      return this.item.price * this.lowestPriceMultiplier;
    }
  },
  mounted: function(){
    if (window.price)
      this.specialCashPrice = window.price;

    var vm = this;
    window.fetch('https://api.mercadolibre.com/items/MLA' + mercadolibreId)
    .then(function(response){
      return response.json()
    }).then(function(data){
      vm.item = data;
    });
  }
}
</script>