@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed:700");
/*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */


html { line-height: 1;  -ms-text-size-adjust: 100%;  -webkit-text-size-adjust: 100%;  }



body { margin: 0; }


article, aside, footer, header, nav, section { display: block; }


h1 { font-size: 2em; margin: 0.67em 0; }



figcaption, figure, main {  display: block; }


figure { margin: 1em 40px; }


hr { -webkit-box-sizing: content-box; box-sizing: content-box;  height: 0;  overflow: visible;  }


pre { font-family: monospace, monospace;  font-size: 1em;  }



a { background-color: transparent;  -webkit-text-decoration-skip: objects;  }


abbr[title] { border-bottom: none;  text-decoration: underline;  -webkit-text-decoration: underline dotted; text-decoration: underline dotted;  }


b, strong { font-weight: inherit; }


b, strong { font-weight: bolder; }


code, kbd, samp { font-family: monospace, monospace;  font-size: 1em;  }


dfn { font-style: italic; }


mark { background-color: #ff0; color: #000; }


small { font-size: 80%; }


sub, sup { font-size: 70%; line-height: 0; position: relative; vertical-align: baseline; }

sub { bottom: -0.25em; }

sup { top: -0.5em; }



audio, video { display: inline-block; }


audio:not([controls]) { display: none; height: 0; }


img { border-style: none; }


svg:not(:root) { overflow: hidden; }



button, input, optgroup, select, textarea { font-family: sans-serif;  font-size: 100%;  line-height: 1.15;  margin: 0;  }


button, input {  overflow: visible; }


button, select {  text-transform: none; }


button, html [type="button"], [type="reset"], [type="submit"] { -webkit-appearance: button;  }


button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner { border-style: none; padding: 0; }


button:-moz-focusring, [type="button"]:-moz-focusring, [type="reset"]:-moz-focusring, [type="submit"]:-moz-focusring { outline: 1px dotted ButtonText; }


fieldset { padding: 0.35em 0.75em 0.625em; }


legend { -webkit-box-sizing: border-box; box-sizing: border-box;  color: inherit;  display: table;  max-width: 100%;  padding: 0;  white-space: normal;  }


progress { display: inline-block;  vertical-align: baseline;  }


textarea { overflow: auto; }


[type="checkbox"], [type="radio"] { -webkit-box-sizing: border-box; box-sizing: border-box;  padding: 0;  }


[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button { height: auto; }


[type="search"] { -webkit-appearance: textfield;  outline-offset: -2px;  }


[type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration { -webkit-appearance: none; }


::-webkit-file-upload-button { -webkit-appearance: button;  font: inherit;  }



details, menu { display: block; }


summary { display: list-item; }



canvas { display: inline-block; }


template { display: none; }



[hidden] { display: none; }

/*! normalize-opentype.css v0.2.4 | MIT License | kennethormandy.com/journal/normalize-opentype-css */

::-moz-selection { color: inherit;  text-shadow: inherit;  background-color: #ACCEF7;  }
::selection { color: inherit;  text-shadow: inherit;  background-color: #ACCEF7;  }

html, body, table { -webkit-font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0, "onum" 0, "lnum" 0, "dlig" 0; font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0, "onum" 0, "lnum" 0, "dlig" 0;  }



h1, h2, h3, h4, h5, h6 { -webkit-font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0, "onum" 0, "lnum" 0, "dlig" 1; font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0, "onum" 0, "lnum" 0, "dlig" 1;  }



abbr { text-transform: uppercase;  -webkit-font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "smcp" 1, "c2sc" 1; font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "smcp" 1, "c2sc" 1;  }


time { -webkit-font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0; font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0; }


pre, kbd, samp, code { -webkit-font-feature-settings: "kern" 0, "liga" 0, "calt" 1, "dlig" 0, "pnum" 0, "tnum" 1, "onum" 0, "lnum" 1, "zero" 1; font-feature-settings: "kern" 0, "liga" 0, "calt" 1, "dlig" 0, "pnum" 0, "tnum" 1, "onum" 0, "lnum" 1, "zero" 1;  }



input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="number"], input[type="range"], input[type="tel"], input[type="week"] { -webkit-font-feature-settings: "kern" 0, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0, "onum" 0, "lnum" 1, "zero" 0; font-feature-settings: "kern" 0, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0, "onum" 0, "lnum" 1, "zero" 0;  }




tbody, caption { -webkit-font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 0, "tnum" 1, "onum" 0, "lnum" 1, "zero" 1; font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 0, "tnum" 1, "onum" 0, "lnum" 1, "zero" 1;  }

html { min-width: 320px; -webkit-box-sizing: border-box; box-sizing: border-box; padding: 0; color: #1a1a1a; font-size: 16px; font-family: 'Din Pro', 'Roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-display: swap; }

main { min-height: calc(100vh - 20.5rem + 1px); }

div, article, main, aside, footer, blockquote, h1, h2, h3, h4, h5, p, pre, figure, ol, ul, li, header, footer, aside, nav, span, a, button, input { -webkit-box-sizing: border-box; box-sizing: border-box; }

p, pre, blockquote, figure, ol, ul { line-height: 1.5; }

p, pre, blockquote, figure, ol, ul { margin: 0 0 1rem; }

ul { padding-left: 1rem; }

li ul { margin-bottom: 0; }

h1, h2, h3, h4, h5, h6 { font-weight: 700; letter-spacing: 0.01em; font-family: 'Roboto Condensed', 'Roboto', 'Arial Narrow', Tahoma, Geneva, Verdana, sans-serif; margin: 1rem 0 0; font-display: swap; font-stretch: condensed; font-style: condensed bold; }

h1, .texto-xxl { font-size: 1.5rem; }

h2, .texto-xl { font-size: 1.25rem; }

h3, .texto-l { font-size: 1.125rem; }

h1, h2, h3, h4, abbr, .small-caps { text-transform: lowercase; font-variant: small-caps; }

h5, h6, .all-caps { text-transform: uppercase; -webkit-font-feature-settings: initial; font-feature-settings: initial; -webkit-font-variant-ligatures: contextual; font-variant-ligatures: contextual; }

h4, .texto-m { font-size: 1rem; }

h5, h6, small, figcaption > h4, figcaption > p, .texto-s { font-size: 0.75rem; }

b, strong, .b { font-weight: 700; }

hr { border: 1px solid gray; }

a:link, a:hover, a:focus, a:visited { color: #1a1a1a; }

a[href^="#fn:"], a[href^="#fnref:"] { text-decoration: none; font-variant: initial; }

a[href^="#fn:"]:after { content: ''; }

a[href^="#fn:"]:before { content: ' '; }

sup, sub { vertical-align: baseline; position: relative; top: -0.4em; }

sub { top: 0.4em; }

figcaption > h4 { font-weight: 400; }

.no-transform, figcaption > h4 { text-transform: initial; }

.nl, figcaption > h4 { font-variant: initial; }

img, .centrado { margin: 0 auto; }

img { margin-bottom: 1rem; display: block; max-width: 100%; max-height: 100vh; color: gray; font-size: 0.75rem; text-align: center; }

figure, .tc { text-align: center; }

figure { margin-left: -2rem; margin-right: -2rem; }

figure > figcaption { margin-left: 4rem; margin-right: 4rem; }

pre, .overflow-x-auto { overflow-x: auto; }

body, .overflow-x-hidden { overflow-x: hidden; }

blockquote { padding-left: 1rem; border-left: 1px solid #FB0410; }

abbr[title], a { text-decoration: underline; -webkit-text-decoration-skip: ink; text-decoration-skip: ink; }

article a, abbr[title] { -webkit-text-decoration-color: #FB0410; text-decoration-color: #FB0410; }

code { font-family: 'Source Code Pro', monospace; }

table { width: 100%; }

td { vertical-align: top; }

::-moz-selection { background-color: #FB0410; color: #FFF; }

::selection { background-color: #FB0410; color: #FFF; }

input { border: none; border-bottom: 1px solid; }

input:focus { outline-offset: 0px; outline: 2px solid #FB0410; }

button { padding: 0; border-style: none; }

button:focus { outline: 1px solid #FB0410; }

.screen-reader-only { position: absolute; left: -10000px; top: auto; width: 1px; height: 1px; overflow: hidden; }

.gris, a.gris { color: gray; }

.gris-claro, a.gris-claro { color: #a6a6a6; }

.gris-oscuro, a.gris-oscuro { color: #595959; }

.casi-blanco, a.casi-blanco { color: #e6e6e6; }

.blanco, a.blanco { color: #FFF; }

.negro, a.negro { color: #000; }

.rojo, a.rojo { color: #FB0410; }

.rojo-oscuro, a.rojo-oscuro { color: #810000; }

.bg-gris { background-color: gray; }

.bg-gris-claro { background-color: #a6a6a6; }

.bg-gris-oscuro { background-color: #595959; }

.bg-casi-blanco { background-color: #e6e6e6; }

.bg-blanco { background-color: #FFF; }

.bg-negro { background-color: #000; }

.bg-madera-claro { background-color: #eac06e; }

.bg-madera-oscuro { background-color: #a95c0c; }

.bg-rojo { background-color: #FB0410; }

.bg-rojo-oscuro { background-color: #810000; }

.bd-gris { border-color: gray; }

.bd-gris-claro { border-color: #a6a6a6; }

.bd-gris-oscuro { border-color: #595959; }

.bd-rojo { border-color: #FB0410; }

.gris-visited:visited, .gris-hover:hover, .gris-active:active { color: gray; }

.gris-claro-visited:visited, .gris-claro-hover:hover, .gris-claro-active:active { color: #a6a6a6; }

.gris-oscuro-visited:visited, .gris-oscuro-hover:hover, .gris-oscuro-active:active { color: #595959; }

.casi-blanco-visited:visited, .casi-blanco-hover:hover, .casi-blanco-active:active { color: #e6e6e6; }

.blanco-visited:visited, .blanco-hover:hover, .blanco-active:active { color: #FFF; }

.negro-visited:visited, .negro-hover:hover, .negro-active:active { color: #000; }

.rojo-visited:visited, .rojo-hover:hover, .rojo-active:active { color: #FB0410; }

.rojo-oscuro-visited:visited, .rojo-oscuro-hover:hover, .rojo-oscuro-active:active { color: #810000; }

.bg-gris-hover:hover { background-color: gray; }

.bg-gris-claro-hover:hover { background-color: #a6a6a6; }

.bg-gris-oscuro-hover:hover { background-color: #595959; }

.bg-casi-blanco-hover:hover { background-color: #e6e6e6; }

.bg-blanco-hover:hover { background-color: #FFF !important; }

.bg-negro-hover:hover { background-color: #000; }

.bg-rojo-hover:hover { background-color: #FB0410; }

.bg-rojo-oscuro-hover:hover { background-color: #810000; }

.color-transition { -webkit-transition: background-color .25s, color .25s; transition: background-color .25s, color .25s; }

.box-shadow-transition { -webkit-transition: -webkit-box-shadow .25s; transition: -webkit-box-shadow .25s; transition: box-shadow .25s; transition: box-shadow .25s, -webkit-box-shadow .25s; }

.btn-transition, .color-transition.box-shadow-transition { -webkit-transition: background-color .25s, color .25s, -webkit-box-shadow .25s; transition: background-color .25s, color .25s, -webkit-box-shadow .25s; transition: box-shadow .25s, background-color .25s, color .25s; transition: box-shadow .25s, background-color .25s, color .25s, -webkit-box-shadow .25s; }

.single-header { height: 31.5rem; max-height: 70vh; }

.single-header h1 { text-transform: uppercase; }

.list-header { line-height: 1; }

.list-header .header-background { padding-bottom: 100%; }

@media screen and (min-width: 30rem) { .list-header .header-background { padding-bottom: 70%; } }

.header-background, .bg-cover { background-repeat: no-repeat; background-size: cover; }

.header-background { background-position: center 25%; }

.header-background + .header-textgroup-shadow { position: absolute; left: 0; right: 0; bottom: 0; height: 6rem; }

.header-background ~ .header-textgroup { color: black; text-shadow: 0px 1px 0 white; background-position: top center; background-repeat: no-repeat; background-size: cover; background-image: url(/recursos/imagenes/texturas/manchas.svg); }

.icon-row { display: -webkit-box; display: -ms-flexbox; display: flex; }

.icon-row .icon { width: 2rem; height: 2rem; margin-right: 1rem; }

.icon-row .text { max-width: calc(100% - 4rem); }

.textura-metal { background-image: url(/recursos/imagenes/texturas/textura-metal-150x150.png); background-size: 75px 75px; }

.textura-aglomerado { background-image: url(/recursos/imagenes/texturas/textura-aglomerado-256x128.png); background-size: 256px 128px; }

.div-arrow { overflow: hidden; }

.div-arrow:after { content: ''; display: block; margin: 0 auto; width: 1em; height: 1em; background-color: currentColor; -webkit-transform: translateY(50%) rotate(45deg); transform: translateY(50%) rotate(45deg); -webkit-animation: from-bottom .5s; animation: from-bottom .5s; }

@-webkit-keyframes from-bottom { from { -webkit-transform: translateY(100%) rotate(45deg); transform: translateY(100%) rotate(45deg); } }

@keyframes from-bottom { from { -webkit-transform: translateY(100%) rotate(45deg); transform: translateY(100%) rotate(45deg); } }

.header-logo { background-image: url(/recursos/imagenes/isologo.png); background-size: auto 2.5rem; width: 10rem; height: 2.5rem; }

#mainNav { -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; overflow-x: hidden; margin: 0 -1rem; }

#mainNav ul { list-style: none; }

#mainNav a { border-bottom: 2px solid #e6e6e6; }

#mainNav a.active { border-bottom: 2px solid #FB0410; }

@media screen and (min-width: 30rem) { #mainNav { margin: 0; } }

.social-icon { width: 1.5rem; height: auto; }

#header { min-width: 320px; max-width: 73rem; margin: 0 auto; }

.product-list { display: grid; grid-template-columns: 1fr 1fr; }

aside .product-card { display: block; max-width: 21rem;  }

#stickyHeader { -webkit-transition: top 0.2s ease-out; transition: top 0.2s ease-out; }

.gallery .img-wrapper::-webkit-scrollbar { height: 1rem; background-color: transparent; }

.gallery .img-wrapper::-webkit-scrollbar-thumb { border-radius: 1rem; border: .1rem solid black; background-color: #808080; }

.gallery figure { margin: 0 .25rem; min-height: 4rem; min-width: 8rem; background-color: black; }

.gallery figure a { display: block; max-width: 8rem; max-height: 3.9rem; border-bottom: .1rem solid #595959; position: relative; padding: 0 0 75% 0; overflow: hidden; }

.gallery figure a img { height: 100%; width: 100%; -o-object-fit: cover; object-fit: cover; -o-object-position: 0 0; object-position: 0 0; position: absolute; margin: 0; }

.pswp__container img { max-height: initial !important; }

@media screen and (min-width: 30rem) { .icon-row .icon { width: 3rem; height: 3rem; }
  .icon-row .text { max-width: calc(100% - 5rem); }
  .textura-aglomerado { background-image: url(/recursos/imagenes/texturas/textura-aglomerado-500x250.png); background-size: 500px 250px; } }

@media (min-width: 44rem) { #header { padding-bottom: 1rem; }
  #headerSocialLinks { top: 0; }
  #mainNav { position: absolute; top: auto; bottom: 0; bottom: 0; right: 0; } }


@media (min-width: 65rem) { aside .product-card { float: none; } }

.p0 { padding: 0rem; }

.p0-5 { padding: 0.5rem; }

.p1 { padding: 1rem; }

.p2 { padding: 2rem; }

.p3 { padding: 3rem; }

.p4 { padding: 4rem; }

.m0 { margin: 0rem; }

.m0-5 { margin: 0.5rem; }

.m1 { margin: 1rem; }

.m2 { margin: 2rem; }

.m3 { margin: 3rem; }

.m4 { margin: 4rem; }

.px0 { padding-left: 0; padding-right: 0; }

.px0-5 { padding-left: 0.5rem; padding-right: 0.5rem; }

.px1 { padding-left: 1rem; padding-right: 1rem; }

.px2 { padding-left: 2rem; padding-right: 2rem; }

.px3 { padding-left: 3rem; padding-right: 3rem; }

.px4 { padding-left: 4rem; padding-right: 4rem; }

.mx--2 { margin-left: -2rem; margin-right: -2rem; }

.mx--1 { margin-left: -1rem; margin-right: -1rem; }

.mx0 { margin-left: 0; margin-right: 0; }

.mx0-5 { margin-left: 0.5rem; margin-right: 0.5rem; }

.mx1 { margin-left: 1rem; margin-right: 1rem; }

.mx2 { margin-left: 2rem; margin-right: 2rem; }

.mx3 { margin-left: 3rem; margin-right: 3rem; }

.mx4 { margin-left: 4rem; margin-right: 4rem; }

.py0 { padding-top: 0; padding-bottom: 0; }

.py0-5 { padding-top: 0.5rem; padding-bottom: 0.5rem; }

.py1 { padding-top: 1rem; padding-bottom: 1rem; }

.py2 { padding-top: 2rem; padding-bottom: 2rem; }

.py3 { padding-top: 3rem; padding-bottom: 3rem; }

.py4 { padding-top: 4rem; padding-bottom: 4rem; }

.my0 { margin-top: 0; margin-bottom: 0; }

.my0-5 { margin-top: 0.5rem; margin-bottom: 0.5rem; }

.my1 { margin-top: 1rem; margin-bottom: 1rem; }

.my2 { margin-top: 2rem; margin-bottom: 2rem; }

.my3 { margin-top: 3rem; margin-bottom: 3rem; }

.my4 { margin-top: 4rem; margin-bottom: 4rem; }

.pl0 { padding-left: 0rem; }

.pl0-5 { padding-left: 0.5rem; }

.pl1 { padding-left: 1rem; }

.pl2 { padding-left: 2rem; }

.pl3 { padding-left: 3rem; }

.pl4 { padding-left: 4rem; }

.ml0 { margin-left: 0rem; }

.ml0-5 { margin-left: 0.5rem; }

.ml1 { margin-left: 1rem; }

.ml2 { margin-left: 2rem; }

.ml3 { margin-left: 3rem; }

.ml4 { margin-left: 4rem; }

.pr0 { padding-right: 0rem; }

.pr0-5 { padding-right: 0.5rem; }

.pr1 { padding-right: 1rem; }

.pr2 { padding-right: 2rem; }

.pr3 { padding-right: 3rem; }

.pr4 { padding-right: 4rem; }

.mr0 { margin-right: 0rem; }

.mr0-5 { margin-right: 0.5rem; }

.mr1 { margin-right: 1rem; }

.mr2 { margin-right: 2rem; }

.mr3 { margin-right: 3rem; }

.mr4 { margin-right: 4rem; }

.pt0 { padding-top: 0rem; }

.pt0-5 { padding-top: 0.5rem; }

.pt1 { padding-top: 1rem; }

.pt2 { padding-top: 2rem; }

.pt3 { padding-top: 3rem; }

.pt4 { padding-top: 4rem; }

.mt0 { margin-top: 0rem; }

.mt0-5 { margin-top: 0.5rem; }

.mt1 { margin-top: 1rem; }

.mt2 { margin-top: 2rem; }

.mt3 { margin-top: 3rem; }

.mt4 { margin-top: 4rem; }

.pb0 { padding-bottom: 0rem; }

.pb0-5 { padding-bottom: 0.5rem; }

.pb1 { padding-bottom: 1rem; }

.pb2 { padding-bottom: 2rem; }

.pb3 { padding-bottom: 3rem; }

.pb4 { padding-bottom: 4rem; }

.mb0 { margin-bottom: 0rem; }

.mb0-5 { margin-bottom: 0.5rem; }

.mb1 { margin-bottom: 1rem; }

.mb2 { margin-bottom: 2rem; }

.mb3 { margin-bottom: 3rem; }

.mb4 { margin-bottom: 4rem; }

.mx-auto, aside .product-card { margin-left: auto; margin-right: auto; }

.mt-auto { margin-top: auto; }

.mb-auto { margin-bottom: auto; }

.ml-auto { margin-left: auto; }

.mr-auto { margin-right: auto; }

.db { display: block; }

.dib { display: inline-block; }

.di { display: inline; }

.dn, .hidden { display: none; }

.flex { display: -webkit-box; display: -ms-flexbox; display: flex; }

.flex-wrap { -ms-flex-wrap: wrap; flex-wrap: wrap; }

.flex-grow-1 { -webkit-box-flex: 1; -ms-flex-positive: 1; flex-grow: 1; }

.flex-start { -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; }

.flex-end { -webkit-box-align: end; -ms-flex-align: end; align-items: flex-end; }

.flex-center { -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.grid { display: grid; }

.inline-grid { display: inline-grid; }

.subgrid { display: subgrid; }

.bg-contain { background-size: contain; background-repeat: no-repeat; }

.bg-top-center { background-position: top center; }

.bg-center { background-position: center; }

.absolute { position: absolute; }

.relative { position: relative; }

.fixed { position: fixed; }

.static { position: static !important; }

.top-auto { top: auto; }

.top--1 { top: -1rem; }

.top-0 { top: 0; }

.top-1 { top: 1rem; }

.top-2 { top: 2rem; }

.top-3 { top: 3rem; }

.top-4 { top: 4rem; }

.bottom-auto { bottom: auto; }

.bottom--1 { bottom: -1rem; }

.bottom-0 { bottom: 0; }

.bottom-1 { bottom: 1rem; }

.bottom-2 { bottom: 2rem; }

.bottom-3 { bottom: 3rem; }

.bottom-4 { bottom: 4rem; }

.left-auto { left: auto; }

.left--1 { left: -1rem; }

.left-0 { left: 0; }

.left-1 { left: 1rem; }

.left-2 { left: 2rem; }

.left-3 { left: 3rem; }

.left-4 { left: 4rem; }

.right-auto { right: auto; }

.right--1 { right: -1rem; }

.right-0 { right: 0; }

.right-1 { right: 1rem; }

.right-2 { right: 2rem; }

.right-3 { right: 3rem; }

.right-4 { right: 4rem; }

.w-100 { width: 100%; }

.w-66 { width: 66.66%; width: calc(100% / 3 * 2); }

.w-50 { width: 50%; }

.w-33 { width: 33.33%; }

.w1 { width: 1rem; }

.w1-5 { width: 1.5rem; }

.w2 { width: 2rem; }

.w3 { width: 3rem; }

.w4 { width: 4rem; }

.h1 { height: 1rem; }

.h1-5 { height: 1.5rem; }

.h2 { height: 2rem; }

.h3 { height: 3rem; }

.h4 { height: 4rem; }

.h6 { height: 6rem; }

.medida-s { max-width: 30rem; }

.medida, .medida-m { max-width: 45rem; }

.medida-l { max-width: 60rem; }

.altura-1-hover, .altura-2-hover { -webkit-box-shadow: 0 0 0 transparent; box-shadow: 0 0 0 transparent;  }

.altura-1, .altura-1-hover:hover { -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.42); box-shadow: 0 1px 3px rgba(0, 0, 0, 0.42); }

.altura-2, .altura-2-hover:hover { -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.42); box-shadow: 0 2px 6px rgba(0, 0, 0, 0.42); }

.tr { text-align: right; }

.tl { text-align: left; }

.tc { text-align: center; }

.f0-5 { font-size: 2rem; }

.f1 { font-size: 1.5rem; }

.f2 { font-size: 1.25rem; }

.f3 { font-size: 1.125rem; }

.f4 { font-size: 1rem; }

.f5 { font-size: 0.875rem; }

.f6 { font-size: 0.75rem; }

.no-decoration { text-decoration: none; }

.nowrap { white-space: nowrap; }

.lh-copy { line-height: 1.5; }

.nl { -webkit-font-feature-settings: initial; font-feature-settings: initial; -webkit-font-variant-ligatures: contextual; font-variant-ligatures: contextual; }

.list-style-none { list-style: none; }

.v-base { vertical-align: baseline; }

.v-btm { vertical-align: bottom; }

.v-sub { vertical-align: sub; }

.v-top { vertical-align: top; }

.o-100 { opacity: 100; }

.o-75 { opacity: 0.75; }

.o-50 { opacity: 0.5; }

.o-25 { opacity: 0.25; }

.o-0 { opacity: 0; }

.clearfix { clear: both; }

.text-overflow { overflow: hidden; width: 100%; text-overflow: ellipsis; }

.overflow-hidden { overflow: hidden; }

.line-clamp-3 { overflow: hidden; text-overflow: ellipsis; -webkit-line-clamp: 3; display: -webkit-box; -webkit-box-orient: vertical; }

.pointer { cursor: pointer; }

@media screen and (min-width: 30rem) { html { font-size: 18px; }
  
  .p0-ns { padding: 0rem; }
  .p0-5-ns { padding: 0.5rem; }
  .p1-ns { padding: 1rem; }
  .p2-ns { padding: 2rem; }
  .p3-ns { padding: 3rem; }
  .p4-ns { padding: 4rem; }
  .m0-ns { margin: 0rem; }
  .m0-5-ns { margin: 0.5rem; }
  .m1-ns { margin: 1rem; }
  .m2-ns { margin: 2rem; }
  .m3-ns { margin: 3rem; }
  .m4-ns { margin: 4rem; }
  .px0-ns { padding-left: 0; padding-right: 0; }
  .px0-5-ns { padding-left: 0.5rem; padding-right: 0.5rem; }
  .px1-ns { padding-left: 1rem; padding-right: 1rem; }
  .px2-ns { padding-left: 2rem; padding-right: 2rem; }
  .px3-ns { padding-left: 3rem; padding-right: 3rem; }
  .px4-ns { padding-left: 4rem; padding-right: 4rem; }
  .mx0-ns { margin-left: 0; margin-right: 0; }
  .mx0-5-ns { margin-left: 0.5rem; margin-right: 0.5rem; }
  .mx1-ns { margin-left: 1rem; margin-right: 1rem; }
  .mx2-ns { margin-left: 2rem; margin-right: 2rem; }
  .mx3-ns { margin-left: 3rem; margin-right: 3rem; }
  .mx4-ns { margin-left: 4rem; margin-right: 4rem; }
  .py0-ns { padding-top: 0; padding-bottom: 0; }
  .py0-5-ns { padding-top: 0.5rem; padding-bottom: 0.5rem; }
  .py1-ns { padding-top: 1rem; padding-bottom: 1rem; }
  .py2-ns { padding-top: 2rem; padding-bottom: 2rem; }
  .py3-ns { padding-top: 3rem; padding-bottom: 3rem; }
  .py4-ns { padding-top: 4rem; padding-bottom: 4rem; }
  .my0-ns { margin-top: 0; margin-bottom: 0; }
  .my0-5-ns { margin-top: 0.5rem; margin-bottom: 0.5rem; }
  .my1-ns { margin-top: 1rem; margin-bottom: 1rem; }
  .my2-ns { margin-top: 2rem; margin-bottom: 2rem; }
  .my3-ns { margin-top: 3rem; margin-bottom: 3rem; }
  .my4-ns { margin-top: 4rem; margin-bottom: 4rem; }
  .pl0-ns { padding-left: 0rem; }
  .pl0-5-ns { padding-left: 0.5rem; }
  .pl1-ns { padding-left: 1rem; }
  .pl2-ns { padding-left: 2rem; }
  .pl3-ns { padding-left: 3rem; }
  .pl4-ns { padding-left: 4rem; }
  .ml0-ns { margin-left: 0rem; }
  .ml0-5-ns { margin-left: 0.5rem; }
  .ml1-ns { margin-left: 1rem; }
  .ml2-ns { margin-left: 2rem; }
  .ml3-ns { margin-left: 3rem; }
  .ml4-ns { margin-left: 4rem; }
  .pr0-ns { padding-right: 0rem; }
  .pr0-5-ns { padding-right: 0.5rem; }
  .pr1-ns { padding-right: 1rem; }
  .pr2-ns { padding-right: 2rem; }
  .pr3-ns { padding-right: 3rem; }
  .pr4-ns { padding-right: 4rem; }
  .mr0-ns { margin-right: 0rem; }
  .mr0-5-ns { margin-right: 0.5rem; }
  .mr1-ns { margin-right: 1rem; }
  .mr2-ns { margin-right: 2rem; }
  .mr3-ns { margin-right: 3rem; }
  .mr4-ns { margin-right: 4rem; }
  .pt0-ns { padding-top: 0rem; }
  .pt0-5-ns { padding-top: 0.5rem; }
  .pt1-ns { padding-top: 1rem; }
  .pt2-ns { padding-top: 2rem; }
  .pt3-ns { padding-top: 3rem; }
  .pt4-ns { padding-top: 4rem; }
  .mt0-ns { margin-top: 0rem; }
  .mt0-5-ns { margin-top: 0.5rem; }
  .mt1-ns { margin-top: 1rem; }
  .mt2-ns { margin-top: 2rem; }
  .mt3-ns { margin-top: 3rem; }
  .mt4-ns { margin-top: 4rem; }
  .pb0-ns { padding-bottom: 0rem; }
  .pb0-5-ns { padding-bottom: 0.5rem; }
  .pb1-ns { padding-bottom: 1rem; }
  .pb2-ns { padding-bottom: 2rem; }
  .pb3-ns { padding-bottom: 3rem; }
  .pb4-ns { padding-bottom: 4rem; }
  .mb0-ns { margin-bottom: 0rem; }
  .mb0-5-ns { margin-bottom: 0.5rem; }
  .mb1-ns { margin-bottom: 1rem; }
  .mb2-ns { margin-bottom: 2rem; }
  .mb3-ns { margin-bottom: 3rem; }
  .mb4-ns { margin-bottom: 4rem; }
  .mx-auto-ns { margin-left: auto; margin-right: auto; }
  .mt-auto-ns { margin-top: auto; }
  .mb-auto-ns { margin-bottom: auto; }
  .ml-auto-ns { margin-left: auto; }
  .mr-auto-ns { margin-right: auto; }
  .db-ns { display: block; }
  .dib-ns { display: inline-block; }
  .di-ns { display: inline; }
  .dn-ns { display: none; }
  .flex-ns { display: -webkit-box; display: -ms-flexbox; display: flex; }
  .flex-wrap-ns { -ms-flex-wrap: wrap; flex-wrap: wrap; }
  .flex-grow-1-ns { -webkit-box-flex: 1; -ms-flex-positive: 1; flex-grow: 1; }
  .grid-ns { display: grid; }
  .inline-grid-ns { display: inline-grid; }
  .subgrid-ns { display: subgrid; }
  .absolute-ns { position: absolute; }
  .relative-ns { position: relative; }
  .fixed-ns { position: fixed; }
  .static-ns { position: static !important; }
  .top-auto-ns { top: auto; }
  .top--1-ns { top: -1rem; }
  .top-0-ns { top: 0; }
  .top-1-ns { top: 1rem; }
  .top-2-ns { top: 2rem; }
  .top-3-ns { top: 3rem; }
  .top-4-ns { top: 4rem; }
  .bottom-auto-ns { bottom: auto; }
  .bottom--1-ns { bottom: -1rem; }
  .bottom-0-ns { bottom: 0; }
  .bottom-1-ns { bottom: 1rem; }
  .bottom-2-ns { bottom: 2rem; }
  .bottom-3-ns { bottom: 3rem; }
  .bottom-4-ns { bottom: 4rem; }
  .left-auto-ns { left: auto; }
  .left--1-ns { left: -1rem; }
  .left-0-ns { left: 0; }
  .left-1-ns { left: 1rem; }
  .left-2-ns { left: 2rem; }
  .left-3-ns { left: 3rem; }
  .left-4-ns { left: 4rem; }
  .right-auto-ns { right: auto; }
  .right--1-ns { right: -1rem; }
  .right-0-ns { right: 0; }
  .right-1-ns { right: 1rem; }
  .right-2-ns { right: 2rem; }
  .right-3-ns { right: 3rem; }
  .right-4-ns { right: 4rem; }
  .w-100-ns { width: 100%; }
  .w-66-ns { width: 66.66%; width: calc(100% / 3 * 2); }
  .w-50-ns { width: 50%; }
  .w-33-ns { width: 33.33%; }
  .w1-ns { width: 1rem; }
  .w2-ns { width: 2rem; }
  .w3-ns { width: 3rem; }
  .w4-ns { width: 4rem; }
  .h1-ns { height: 1rem; }
  .h2-ns { height: 2rem; }
  .h3-ns { height: 3rem; }
  .h4-ns { height: 4rem; }
  .altura-1-ns { -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.42); box-shadow: 0 1px 3px rgba(0, 0, 0, 0.42); }
  .altura-2-ns { -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.42); box-shadow: 0 2px 4px rgba(0, 0, 0, 0.42); }
  .tr-ns { text-align: right; }
  .tl-ns { text-align: left; }
  .tc-ns { text-align: center; }
  .f1-ns { font-size: 1.5rem; }
  .f2-ns { font-size: 1.25rem; }
  .f3-ns { font-size: 1.125rem; }
  .f4-ns { font-size: 1rem; }
  .f5-ns { font-size: 0.875rem; }
  .f6-ns { font-size: 0.75rem; }
  .no-decoration-ns { text-decoration: none; }
  .nowrap-ns { white-space: nowrap; }
  .lh-copy-ns { line-height: 1.5; }
  .nl-ns { -webkit-font-feature-settings: initial; font-feature-settings: initial; -webkit-font-variant-ligatures: contextual; font-variant-ligatures: contextual; } }

@media screen and (min-width: 65rem) { 
  .p0-l { padding: 0rem; }
  .p0-5-l { padding: 0.5rem; }
  .p1-l { padding: 1rem; }
  .p2-l { padding: 2rem; }
  .p3-l { padding: 3rem; }
  .p4-l { padding: 4rem; }
  .m0-l { margin: 0rem; }
  .m0-5-l { margin: 0.5rem; }
  .m1-l { margin: 1rem; }
  .m2-l { margin: 2rem; }
  .m3-l { margin: 3rem; }
  .m4-l { margin: 4rem; }
  .px0-l { padding-left: 0; padding-right: 0; }
  .px0-5-l { padding-left: 0.5rem; padding-right: 0.5rem; }
  .px1-l { padding-left: 1rem; padding-right: 1rem; }
  .px2-l { padding-left: 2rem; padding-right: 2rem; }
  .px3-l { padding-left: 3rem; padding-right: 3rem; }
  .px4-l { padding-left: 4rem; padding-right: 4rem; }
  .mx0-l { margin-left: 0; margin-right: 0; }
  .mx0-5-l { margin-left: 0.5rem; margin-right: 0.5rem; }
  .mx1-l { margin-left: 1rem; margin-right: 1rem; }
  .mx2-l { margin-left: 2rem; margin-right: 2rem; }
  .mx3-l { margin-left: 3rem; margin-right: 3rem; }
  .mx4-l { margin-left: 4rem; margin-right: 4rem; }
  .py0-l { padding-top: 0; padding-bottom: 0; }
  .py0-5-l { padding-top: 0.5rem; padding-bottom: 0.5rem; }
  .py1-l { padding-top: 1rem; padding-bottom: 1rem; }
  .py2-l { padding-top: 2rem; padding-bottom: 2rem; }
  .py3-l { padding-top: 3rem; padding-bottom: 3rem; }
  .py4-l { padding-top: 4rem; padding-bottom: 4rem; }
  .my0-l { margin-top: 0; margin-bottom: 0; }
  .my0-5-l { margin-top: 0.5rem; margin-bottom: 0.5rem; }
  .my1-l { margin-top: 1rem; margin-bottom: 1rem; }
  .my2-l { margin-top: 2rem; margin-bottom: 2rem; }
  .my3-l { margin-top: 3rem; margin-bottom: 3rem; }
  .my4-l { margin-top: 4rem; margin-bottom: 4rem; }
  .pl0-l { padding-left: 0rem; }
  .pl0-5-l { padding-left: 0.5rem; }
  .pl1-l { padding-left: 1rem; }
  .pl2-l { padding-left: 2rem; }
  .pl3-l { padding-left: 3rem; }
  .pl4-l { padding-left: 4rem; }
  .ml0-l { margin-left: 0rem; }
  .ml0-5-l { margin-left: 0.5rem; }
  .ml1-l { margin-left: 1rem; }
  .ml2-l { margin-left: 2rem; }
  .ml3-l { margin-left: 3rem; }
  .ml4-l { margin-left: 4rem; }
  .pr0-l { padding-right: 0rem; }
  .pr0-5-l { padding-right: 0.5rem; }
  .pr1-l { padding-right: 1rem; }
  .pr2-l { padding-right: 2rem; }
  .pr3-l { padding-right: 3rem; }
  .pr4-l { padding-right: 4rem; }
  .mr0-l { margin-right: 0rem; }
  .mr0-5-l { margin-right: 0.5rem; }
  .mr1-l { margin-right: 1rem; }
  .mr2-l { margin-right: 2rem; }
  .mr3-l { margin-right: 3rem; }
  .mr4-l { margin-right: 4rem; }
  .pt0-l { padding-top: 0rem; }
  .pt0-5-l { padding-top: 0.5rem; }
  .pt1-l { padding-top: 1rem; }
  .pt2-l { padding-top: 2rem; }
  .pt3-l { padding-top: 3rem; }
  .pt4-l { padding-top: 4rem; }
  .mt0-l { margin-top: 0rem; }
  .mt0-5-l { margin-top: 0.5rem; }
  .mt1-l { margin-top: 1rem; }
  .mt2-l { margin-top: 2rem; }
  .mt3-l { margin-top: 3rem; }
  .mt4-l { margin-top: 4rem; }
  .pb0-l { padding-bottom: 0rem; }
  .pb0-5-l { padding-bottom: 0.5rem; }
  .pb1-l { padding-bottom: 1rem; }
  .pb2-l { padding-bottom: 2rem; }
  .pb3-l { padding-bottom: 3rem; }
  .pb4-l { padding-bottom: 4rem; }
  .mb0-l { margin-bottom: 0rem; }
  .mb0-5-l { margin-bottom: 0.5rem; }
  .mb1-l { margin-bottom: 1rem; }
  .mb2-l { margin-bottom: 2rem; }
  .mb3-l { margin-bottom: 3rem; }
  .mb4-l { margin-bottom: 4rem; }
  .mx-auto-l { margin-left: auto; margin-right: auto; }
  .mt-auto-l { margin-top: auto; }
  .mb-auto-l { margin-bottom: auto; }
  .ml-auto-l { margin-left: auto; }
  .mr-auto-l { margin-right: auto; }
  .db-l { display: block; }
  .dib-l { display: inline-block; }
  .di-l { display: inline; }
  .dn-l { display: none; }
  .flex-l { display: -webkit-box; display: -ms-flexbox; display: flex; }
  .flex-wrap-l { -ms-flex-wrap: wrap; flex-wrap: wrap; }
  .flex-grow-1-l { -webkit-box-flex: 1; -ms-flex-positive: 1; flex-grow: 1; }
  .grid-l { display: grid; }
  .inline-grid-l { display: inline-grid; }
  .subgrid-l { display: subgrid; }
  .absolute-l { position: absolute; }
  .relative-l { position: relative; }
  .fixed-l { position: fixed; }
  .static-l { position: static !important; }
  .top-auto-l { top: auto; }
  .top--1-l { top: -1rem; }
  .top-0-l { top: 0; }
  .top-1-l { top: 1rem; }
  .top-2-l { top: 2rem; }
  .top-3-l { top: 3rem; }
  .top-4-l { top: 4rem; }
  .bottom-auto-l { bottom: auto; }
  .bottom--1-l { bottom: -1rem; }
  .bottom-0-l { bottom: 0; }
  .bottom-1-l { bottom: 1rem; }
  .bottom-2-l { bottom: 2rem; }
  .bottom-3-l { bottom: 3rem; }
  .bottom-4-l { bottom: 4rem; }
  .left-auto-l { left: auto; }
  .left--1-l { left: -1rem; }
  .left-0-l { left: 0; }
  .left-1-l { left: 1rem; }
  .left-2-l { left: 2rem; }
  .left-3-l { left: 3rem; }
  .left-4-l { left: 4rem; }
  .right-auto-l { right: auto; }
  .right--1-l { right: -1rem; }
  .right-0-l { right: 0; }
  .right-1-l { right: 1rem; }
  .right-2-l { right: 2rem; }
  .right-3-l { right: 3rem; }
  .right-4-l { right: 4rem; }
  .w-100-l, aside .product-card { width: 100%; }
  .w-66-l { width: 66.66%; width: calc(100% / 3 * 2); }
  .w-50-l { width: 50%; }
  .w-33-l { width: 33.33%; }
  .w1-l { width: 1rem; }
  .w2-l { width: 2rem; }
  .w3-l { width: 3rem; }
  .w4-l { width: 4rem; }
  .h1-l { height: 1rem; }
  .h2-l { height: 2rem; }
  .h3-l { height: 3rem; }
  .h4-l { height: 4rem; }
  .altura-1-l { -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.42); box-shadow: 0 1px 3px rgba(0, 0, 0, 0.42); }
  .altura-2-l { -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.42); box-shadow: 0 2px 4px rgba(0, 0, 0, 0.42); }
  .tr-l { text-align: right; }
  .tl-l { text-align: left; }
  .tc-l { text-align: center; }
  .f1-l { font-size: 1.5rem; }
  .f2-l { font-size: 1.25rem; }
  .f3-l { font-size: 1.125rem; }
  .f4-l { font-size: 1rem; }
  .f5-l { font-size: 0.875rem; }
  .f6-l { font-size: 0.75rem; }
  .no-decoration-l { text-decoration: none; }
  .nowrap-l { white-space: nowrap; }
  .lh-copy-l { line-height: 1.5; }
  .nl-l { -webkit-font-feature-settings: initial; font-feature-settings: initial; -webkit-font-variant-ligatures: contextual; font-variant-ligatures: contextual; } }

.dur--larga { -webkit-animation-duration: 0.6s; animation-duration: 0.6s; }

.dur--base { -webkit-animation-duration: 0.4s; animation-duration: 0.4s; }

.dur--corta { -webkit-animation-duration: 0.3s; animation-duration: 0.3s; }

.animation-fill { -webkit-animation-fill-mode: forwards; animation-fill-mode: forwards; }

.flotar-hacia-arriba { -webkit-animation-name: flotar-hacia-arriba; animation-name: flotar-hacia-arriba; }

@-webkit-keyframes flotar-hacia-arriba { to { top: 0rem;
    bottom: auto; } }

@keyframes flotar-hacia-arriba { to { top: 0rem;
    bottom: auto; } }

@media print { html { padding: 0; font-size: 10pt; }
  pre { white-space: pre-wrap; }
  .print-hidden { display: none; }
  h1, h2, h3, h4, h5, h6 { -webkit-column-break-after: avoid; break-after: avoid; }
  a { text-decoration: none; }
  a[href^="#fnref:"] { display: none; }
  .page-break { page-break-after: always; }
  .break-before-avoid { -webkit-column-break-before: avoid; break-before: avoid; }
  .break-after-avoid { -webkit-column-break-after: avoid; break-after: avoid; }
  .break-inside-avoid, img, tr { -webkit-column-break-inside: avoid; break-inside: avoid; }
  img { max-height: 180mm; } }

/*! PhotoSwipe main CSS by Dmitry Semenov | photoswipe.com | MIT license */


.pswp { display: none; position: absolute; width: 100%; height: 100%; left: 0; top: 0; overflow: hidden; -ms-touch-action: none; touch-action: none; z-index: 1500; -webkit-text-size-adjust: 100%;  -webkit-backface-visibility: hidden; outline: none; }

.pswp * { -webkit-box-sizing: border-box; box-sizing: border-box; }

.pswp img { max-width: none; }


.pswp--animate_opacity {  opacity: 0.001; will-change: opacity;  -webkit-transition: opacity 333ms cubic-bezier(0.4, 0, 0.22, 1); transition: opacity 333ms cubic-bezier(0.4, 0, 0.22, 1); }

.pswp--open { display: block; }

.pswp--zoom-allowed .pswp__img {  cursor: -webkit-zoom-in; cursor: -moz-zoom-in; cursor: zoom-in; }

.pswp--zoomed-in .pswp__img {  cursor: -webkit-grab; cursor: -moz-grab; cursor: grab; }

.pswp--dragging .pswp__img {  cursor: -webkit-grabbing; cursor: -moz-grabbing; cursor: grabbing; }


.pswp__bg { position: absolute; left: 0; top: 0; width: 100%; height: 100%; background: #000; opacity: 0; -webkit-transform: translateZ(0); transform: translateZ(0); -webkit-backface-visibility: hidden; will-change: opacity; }

.pswp__scroll-wrap { position: absolute; left: 0; top: 0; width: 100%; height: 100%; overflow: hidden; }

.pswp__container, .pswp__zoom-wrap { -ms-touch-action: none; touch-action: none; position: absolute; left: 0; right: 0; top: 0; bottom: 0; }


.pswp__container, .pswp__img { -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; -webkit-tap-highlight-color: transparent; -webkit-touch-callout: none; }

.pswp__zoom-wrap { position: absolute; width: 100%; -webkit-transform-origin: left top; transform-origin: left top;  -webkit-transition: -webkit-transform 333ms cubic-bezier(0.4, 0, 0.22, 1); transition: -webkit-transform 333ms cubic-bezier(0.4, 0, 0.22, 1); transition: transform 333ms cubic-bezier(0.4, 0, 0.22, 1); transition: transform 333ms cubic-bezier(0.4, 0, 0.22, 1), -webkit-transform 333ms cubic-bezier(0.4, 0, 0.22, 1); }

.pswp__bg { will-change: opacity;  -webkit-transition: opacity 333ms cubic-bezier(0.4, 0, 0.22, 1); transition: opacity 333ms cubic-bezier(0.4, 0, 0.22, 1); }

.pswp--animated-in .pswp__bg, .pswp--animated-in .pswp__zoom-wrap { -webkit-transition: none; transition: none; }

.pswp__container, .pswp__zoom-wrap { -webkit-backface-visibility: hidden; }

.pswp__item { position: absolute; left: 0; right: 0; top: 0; bottom: 0; overflow: hidden; }

.pswp__img { position: absolute; width: auto; height: auto; top: 0; left: 0; }


.pswp__img--placeholder { -webkit-backface-visibility: hidden; }


.pswp__img--placeholder--blank { background: #222; }

.pswp--ie .pswp__img { width: 100% !important; height: auto !important; left: 0; top: 0; }


.pswp__error-msg { position: absolute; left: 0; top: 50%; width: 100%; text-align: center; font-size: 14px; line-height: 16px; margin-top: -8px; color: #CCC; }

.pswp__error-msg a { color: #CCC; text-decoration: underline; }

/*! PhotoSwipe Default UI CSS by Dmitry Semenov | photoswipe.com | MIT license */



.pswp__button { width: 44px; height: 44px; position: relative; background: none; cursor: pointer; overflow: visible; -webkit-appearance: none; display: block; border: 0; padding: 0; margin: 0; float: right; opacity: 0.75; -webkit-transition: opacity 0.2s; transition: opacity 0.2s; -webkit-box-shadow: none; box-shadow: none; }

.pswp__button:focus, .pswp__button:hover { opacity: 1; }

.pswp__button:active { outline: none; opacity: 0.9; }

.pswp__button::-moz-focus-inner { padding: 0; border: 0; }


.pswp__ui--over-close .pswp__button--close { opacity: 1; }

.pswp__button, .pswp__button--arrow--left:before, .pswp__button--arrow--right:before { background: url(default-skin.png) 0 0 no-repeat; background-size: 264px 88px; width: 44px; height: 44px; }

@media (-webkit-min-device-pixel-ratio: 1.1), (-webkit-min-device-pixel-ratio: 1.09375), (min-resolution: 105dpi), (min-resolution: 1.1dppx) { 
  .pswp--svg .pswp__button, .pswp--svg .pswp__button--arrow--left:before, .pswp--svg .pswp__button--arrow--right:before { background-image: url(default-skin.svg); }
  .pswp--svg .pswp__button--arrow--left, .pswp--svg .pswp__button--arrow--right { background: none; } }

.pswp__button--close { background-position: 0 -44px; }

.pswp__button--share { background-position: -44px -44px; }

.pswp__button--fs { display: none; }

.pswp--supports-fs .pswp__button--fs { display: block; }

.pswp--fs .pswp__button--fs { background-position: -44px 0; }

.pswp__button--zoom { display: none; background-position: -88px 0; }

.pswp--zoom-allowed .pswp__button--zoom { display: block; }

.pswp--zoomed-in .pswp__button--zoom { background-position: -132px 0; }


.pswp--touch .pswp__button--arrow--left, .pswp--touch .pswp__button--arrow--right { visibility: hidden; }


.pswp__button--arrow--left, .pswp__button--arrow--right { background: none; top: 50%; margin-top: -50px; width: 70px; height: 100px; position: absolute; }

.pswp__button--arrow--left { left: 0; }

.pswp__button--arrow--right { right: 0; }

.pswp__button--arrow--left:before, .pswp__button--arrow--right:before { content: ''; top: 35px; background-color: rgba(0, 0, 0, 0.3); height: 30px; width: 32px; position: absolute; }

.pswp__button--arrow--left:before { left: 6px; background-position: -138px -44px; }

.pswp__button--arrow--right:before { right: 6px; background-position: -94px -44px; }


.pswp__counter, .pswp__share-modal { -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }

.pswp__share-modal { display: block; background: rgba(0, 0, 0, 0.5); width: 100%; height: 100%; top: 0; left: 0; padding: 10px; position: absolute; z-index: 1600; opacity: 0; -webkit-transition: opacity 0.25s ease-out; transition: opacity 0.25s ease-out; -webkit-backface-visibility: hidden; will-change: opacity; }

.pswp__share-modal--hidden { display: none; }

.pswp__share-tooltip { z-index: 1620; position: absolute; background: #FFF; top: 56px; border-radius: 2px; display: block; width: auto; right: 44px; -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25); box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25); -webkit-transform: translateY(6px); transform: translateY(6px); -webkit-transition: -webkit-transform 0.25s; transition: -webkit-transform 0.25s; transition: transform 0.25s; transition: transform 0.25s, -webkit-transform 0.25s; -webkit-backface-visibility: hidden; will-change: transform; }

.pswp__share-tooltip a { display: block; padding: 8px 12px; color: #000; text-decoration: none; font-size: 14px; line-height: 18px; }

.pswp__share-tooltip a:hover { text-decoration: none; color: #000; }

.pswp__share-tooltip a:first-child {  border-radius: 2px 2px 0 0; }

.pswp__share-tooltip a:last-child { border-radius: 0 0 2px 2px; }

.pswp__share-modal--fade-in { opacity: 1; }

.pswp__share-modal--fade-in .pswp__share-tooltip { -webkit-transform: translateY(0); transform: translateY(0); }


.pswp--touch .pswp__share-tooltip a { padding: 16px 12px; }

a.pswp__share--facebook:before { content: ''; display: block; width: 0; height: 0; position: absolute; top: -12px; right: 15px; border: 6px solid transparent; border-bottom-color: #FFF; -webkit-pointer-events: none; -moz-pointer-events: none; pointer-events: none; }

a.pswp__share--facebook:hover { background: #3E5C9A; color: #FFF; }

a.pswp__share--facebook:hover:before { border-bottom-color: #3E5C9A; }

a.pswp__share--twitter:hover { background: #55ACEE; color: #FFF; }

a.pswp__share--pinterest:hover { background: #CCC; color: #CE272D; }

a.pswp__share--download:hover { background: #DDD; }


.pswp__counter { position: absolute; left: 0; top: 0; height: 44px; font-size: 13px; line-height: 44px; color: #FFF; opacity: 0.75; padding: 0 10px; }


.pswp__caption { position: absolute; left: 0; bottom: 0; width: 100%; min-height: 44px; }

.pswp__caption small { font-size: 11px; color: #BBB; }

.pswp__caption__center { text-align: left; max-width: 420px; margin: 0 auto; font-size: 13px; padding: 10px; line-height: 20px; color: #CCC; }

.pswp__caption--empty { display: none; }


.pswp__caption--fake { visibility: hidden; }


.pswp__preloader { width: 44px; height: 44px; position: absolute; top: 0; left: 50%; margin-left: -22px; opacity: 0; -webkit-transition: opacity 0.25s ease-out; transition: opacity 0.25s ease-out; will-change: opacity; direction: ltr; }

.pswp__preloader__icn { width: 20px; height: 20px; margin: 12px; }

.pswp__preloader--active { opacity: 1; }

.pswp__preloader--active .pswp__preloader__icn {  background: url(preloader.gif) 0 0 no-repeat; }

.pswp--css_animation .pswp__preloader--active { opacity: 1; }

.pswp--css_animation .pswp__preloader--active .pswp__preloader__icn { -webkit-animation: clockwise 500ms linear infinite; animation: clockwise 500ms linear infinite; }

.pswp--css_animation .pswp__preloader--active .pswp__preloader__donut { -webkit-animation: donut-rotate 1000ms cubic-bezier(0.4, 0, 0.22, 1) infinite; animation: donut-rotate 1000ms cubic-bezier(0.4, 0, 0.22, 1) infinite; }

.pswp--css_animation .pswp__preloader__icn { background: none; opacity: 0.75; width: 14px; height: 14px; position: absolute; left: 15px; top: 15px; margin: 0; }

.pswp--css_animation .pswp__preloader__cut {  position: relative; width: 7px; height: 14px; overflow: hidden; }

.pswp--css_animation .pswp__preloader__donut { -webkit-box-sizing: border-box; box-sizing: border-box; width: 14px; height: 14px; border: 2px solid #FFF; border-radius: 50%; border-left-color: transparent; border-bottom-color: transparent; position: absolute; top: 0; left: 0; background: none; margin: 0; }

@media screen and (max-width: 1024px) { .pswp__preloader { position: relative; left: auto; top: auto; margin: 0; float: right; } }

@-webkit-keyframes clockwise { 0% { -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes clockwise { 0% { -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@-webkit-keyframes donut-rotate { 0% { -webkit-transform: rotate(0);
    transform: rotate(0); }
  50% { -webkit-transform: rotate(-140deg);
    transform: rotate(-140deg); }
  100% { -webkit-transform: rotate(0);
    transform: rotate(0); } }

@keyframes donut-rotate { 0% { -webkit-transform: rotate(0);
    transform: rotate(0); }
  50% { -webkit-transform: rotate(-140deg);
    transform: rotate(-140deg); }
  100% { -webkit-transform: rotate(0);
    transform: rotate(0); } }



.pswp__ui { -webkit-font-smoothing: auto; visibility: visible; opacity: 1; z-index: 1550; }


.pswp__top-bar { position: absolute; left: 0; top: 0; height: 44px; width: 100%; }

.pswp__caption, .pswp__top-bar, .pswp--has_mouse .pswp__button--arrow--left, .pswp--has_mouse .pswp__button--arrow--right { -webkit-backface-visibility: hidden; will-change: opacity; -webkit-transition: opacity 333ms cubic-bezier(0.4, 0, 0.22, 1); transition: opacity 333ms cubic-bezier(0.4, 0, 0.22, 1); }


.pswp--has_mouse .pswp__button--arrow--left, .pswp--has_mouse .pswp__button--arrow--right { visibility: visible; }

.pswp__top-bar, .pswp__caption { background-color: rgba(0, 0, 0, 0.5); }


.pswp__ui--fit .pswp__top-bar, .pswp__ui--fit .pswp__caption { background-color: rgba(0, 0, 0, 0.3); }


.pswp__ui--idle .pswp__top-bar { opacity: 0; }

.pswp__ui--idle .pswp__button--arrow--left, .pswp__ui--idle .pswp__button--arrow--right { opacity: 0; }


.pswp__ui--hidden .pswp__top-bar, .pswp__ui--hidden .pswp__caption, .pswp__ui--hidden .pswp__button--arrow--left, .pswp__ui--hidden .pswp__button--arrow--right {  opacity: 0.001; }


.pswp__ui--one-slide .pswp__button--arrow--left, .pswp__ui--one-slide .pswp__button--arrow--right, .pswp__ui--one-slide .pswp__counter { display: none; }

.pswp__element--disabled { display: none !important; }

.pswp--minimal--dark .pswp__top-bar { background: none; }
