---
title: "Marca de agua y redimensión de imágenes"
date: 2017-10-18T19:12:42-03:00
draft: false
---

<img style="display:none" src="/recursos/imagenes/meta/signo-negro-600x600.png">

<h1>Redimensionador de imágenes</h1>

<p>
  Seleccionar una o varias imágenes para redimensionarlas a un tamaño apto para web.
</p>

<label class="db my1"> <input type="checkbox" name="watermark" checked="true"> Agregar marca de agua </label>
<label class="db my1"> <input type="checkbox" name="contrast" checked="true"> Incrementar el contraste </label>

<div class="flex-l">
  
  <input disabled="true" class="mb2" type="file" multiple="true" accept="image/x-png,image/gif,image/jpeg,image/webp,image/png">

  <div class="ml-auto mb2">
    <progress value="0" max="100"></progress> <span id="progressCurrVal">0</span>/<span id="progressTotalVal">0</span> <span id="progressTask"></span>
  </div>

</div>

<hr>

<h2 class="gris">Acerca de</h2>

<p class="gris">
  El programa redimensiona y comprime levemente las imágenes seleccionadas (1200px de anchura y/o altura máximas con una calidad JPEG de 75%). También es útil para convertir imágenes <abbr>.WEBP</abbr> (como las descargadas de MercadoLibre) a <abbr>.JPG</abbr>.
</p>

<p class="gris">
  Las imágenes se suben a la carpeta "static/images" y al publicar un producto se referencian dentro de los productos por nombre (tip: usar nombres significativos).
</p>
  <pre>imagen: "nombre-de-la-imagen.jpg"</pre>
<p class="gris">
  Más información útil para el momento de subir un producto se encuentra <a href="/meta/modificar-el-contenido/">en esta publicación</a>.
</p>

<p class="gris"><b>Atención:</b> Se detectó un error en el funcionamiento del programa cuando alguno de los nombres de archivo contienen <b>puntos (".")</b>. El único punto que puede existir en el nombre del archivo es el de la extensión ("nombre-del-archivo.jpg" es válido, "nombre.del.archivo.jpg" No). El resto de los caracteres (espacios, guiones, paréntesis...) funciona correctamente.</p>


<div class="hidden">
  <canvas width="320" height="200"></canvas>
</div>

<p></p>

<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.4/jszip.js"></script>
<script src="https://fastcdn.org/FileSaver.js/1.1.20151003/FileSaver.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/exif-js/2.3.0/exif.js"></script>
<script src="/recursos/js/meta/imgrsizr.js"></script>