<!DOCTYPE html>
<html lang="es-ar">
<head>
    {{ partial "head.html" . }}
</head>
<body class="bg-negro casi-blanco">
    <div class="wrapper">
       {{ partial "header.html" . }}
        <div class="medida centrado mt2">
          <div class="px2 tc">
            <h1>{{ .Title }}</h1>
            <p>{{ .Paginator.TotalNumberOfElements }} marcas en total · Ordenadas por cantidad de productos</p>
          </div>
          <ul class="w-100 px1 flex-ns flex-wrap" style=": center">
            {{ $marcas := .Site.Data.marcas }}

            {{/* Renderizar todas las marcas que tengan imagen primero... */}}
            {{ range $key, $value := .Data.Terms.ByCount }}
              {{ $title := $value.Name | lower }}
              {{ if index $marcas $title }}
              <li class="dib w-100 w-50-ns w-33-l p0-5 tc">
                  <a class="db no-decoration" href="/marcas/{{ $value.Name }}"><h2 class="f1"><img src="/logos/{{ (index $marcas $title).imagen }}" alt="{{$value.Name}}" class="m0 f1"></h2></a>
              </li>
              {{ end }}
            {{ end }}

            {{/* luego todas las marcas sin imagen */}}

            {{ range $key, $value := .Data.Terms.ByCount }}
              {{ $title := $value.Name | lower }}
              {{ if not (index $marcas $title) }}
              <li class="dib w-100 w-50-ns w-33-l p0-5 tc">
                  <a class="db no-decoration casi-blanco" href="/marcas/{{ $value.Name }}"><h2 class="f1 my1">{{$value.Name | title}}</h2></a>
              </li>
              {{ end }}
            {{ end }}

          </ul>
      </div>
      {{ partial "footer.html" . }}
    </div>
</body>
</html>