<!DOCTYPE html>
<html lang="es-ar">
<head>
    {{ partial "head.html" . }}
</head>
<body class="bg-negro casi-blanco">
    <div class="wrapper">
       {{ partial "header.html" . }}
        
        <div class="px2 mt1 f6 gris-claro"><a href="/marcas/" class="gris-claro">Marcas</a> <span class="dib w1 h1 v-sub">{{partial "svg_icons/chevron-right.svg"}}</span> <a href="{{.Permalink}}" class="gris">{{.Title}}</a></div>

       <div class="medida centrado mt2">
        <div class="px2 tc">
          {{ $title := .Title | lower }}
          {{ $marcas := .Site.Data.marcas}}
          {{ if (index $marcas $title) }}
            <h1><img src="/logos/{{ (index .Site.Data.marcas $title).imagen }}" alt="{{.Title}}" style="font-size:1.5rem"></h1>
          {{ else }}
            <h1>{{.Title}}</h1>
          {{ end }}

          {{ $paginator := .Paginate (where .Data.Pages "Type" "productos") }}
          <p>{{ .Paginator.TotalNumberOfElements }} Producto{{ if (gt .Paginator.Pages 1 ) }}s{{end}} de marca {{.Title}}</p>
        </div>
        <ul class="medida px1 product-list list-style-none">
            {{ range $index, $page := .Paginator.Pages }}
                {{ .Render "li" }}
            {{ end }}
        </ul>
        <div class="clearfix"></div>
        {{ partial "paginator.html" . }}
      </div>
      {{ partial "footer.html" . }}
    </div>
</body>
</html>