<div style="clear:both"></div>
<hr class="mt4 mb0">
<footer style="clear:both" class="bg-casi-blanco medida-grande centrado px1 px2-ns pt1 pb2">
  
  <div class="db flex-ns flex-start centrado" style="max-width: 71rem">

    <div class="w-50-ns">
      <h1 class="mt0">Bertolina Bikes</h1>

      <p>Pueyrredón 1506, Córdoba (X5000), Argentina</p>


      <p class="f6">
        <b>Horarios de atención:</b>
        <br>
        Lunes a Viernes: 10 a 13 horas y 17 a 20:30 horas
        <br>Sábados: 10 a 14 horas
      </p>

      <p>

        Tel. Móvil: <a href="tel:543517052401" class="rojo b db di-ns">(351) 157 052 401</a>
        <br>
        Tel. Fijo: <a href="tel:03514894010" class="rojo b db di-ns">(0351) 489 4010</a>
        <br>
        <a href="mailto:bertolinabikes@gmail.com" class="rojo b db di-ns">bertolinabikes@gmail.com</a>
      </p>

      <div class="my1">
        <div class="mb0-5 f6">También nos encontrás en:</div>
        
        <a href="//facebook.com/Bertolinabikes" class="gris-oscuro rojo-oscuro-hover color-transition dib mr0-5 no-decoration tc" aria-label="/BertolinaBikes en Facebook"><span class="dib w1 h1 v-btm">{{ partial "svg_icons/facebook.svg" }}</span> Facebook</a>
        <a href="//instagram.com/Bertolinabikes" class="gris-oscuro rojo-oscuro-hover color-transition dib mr0-5 no-decoration tc" aria-label="/BertolinaBikes en Instagram"><span class="dib w1 h1 v-btm">{{ partial "svg_icons/instagram.svg" }}</span> Instagram</a>
      </div>

    </div>
    <div class="nowrap w-50-ns">
      <p class="f6 mb0">Mapa del sitio:</p>
      <ul class="f6">
        <li><a class="gris-oscuro" href="/">Home</a></li>
        <li><a class="gris-oscuro" href="/novedades">Novedades</a></li>
        <li><a class="gris-oscuro" href="/productos">Productos</a>
          <ul>
            <li><a class="gris-oscuro" href="/marcas">Marcas</a></li>
            <li><a class="gris-oscuro" href="/categorias">Categorías</a></li>
          </ul>
        </li>
        
        <li><a class="gris-oscuro" href="/contacto">Contacto</a></li>
        <li><a class="gris-oscuro" href="/politica-de-privacidad">{{ with .Site.GetPage "page" "" "politica-de-privacidad.md" }}{{ .Title }}{{ end }}</a></li>
      </ul>

      <a href="#Top" class="gris-oscuro f6 no-decoration">↑ Volver arriba</a>      
    </div>

  </div>

{{ if (not .Site.BuildDrafts) }}
<script type="text/javascript">

  // get user Timezone & disable GA for European users (UTC+0 to UTC+4)
  //var hrs = -(new Date().getTimezoneOffset() / 60);
  var hrs = -4;

  if (localStorage.getItem('disable-analytics') || (hrs <= 4 && hrs >= 0)){
    window['ga-disable-UA-55413242-2'] = true;
  }
</script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<!-- Recopilamos información de forma anónima para mejorar su experiencia y hacerlo sentir cómodo. La información obtenida de forma anónima a través de la herramienta analítica de Google es la ÚNICA nformación que recolectamos de los usuarios. Para averiguar más y desacrivar este tipo de seguimiento, lea la política de privacidad -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-55413242-2"></script>
<script>

  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-55413242-2');

</script>
{{ end }}


{{ partial "svg_icons/_defs.svg" . }}

</footer>