{{ if .Params.cloudinary }}{{ $.Scratch.Set "cloudinary" .Params.cloudinary }}{{end}}
{{ if or .Params.gallery .Params.mercadolibre_id }}
<!-- GALERIA -->
<div class="gallery" itemscope itemtype="http://schema.org/ImageGallery">
  <div class="bg-casi-blanco">
    {{ if .Params.mercadolibre_id }}
      {{ $gallery := (index .Site.Data.galleries .Params.mercadolibre_id) }}
      {{ if $gallery }}
        <h1 class="title mt0 f1 px2 py0-5">{{ if gt (len $gallery) 1 }}Galería de Imágenes{{ else }}Imagen{{ end }}</h1>
        <div class="img-wrapper px0-5 {{ if lt (len $gallery) 2 }}px2{{end}} pt0-5 flex overflow-x-auto blanco" v-if="item">
          {{ range $gallery }}
            <figure style="margin: 0; padding: 0 0.1rem; width: 20%" itemscope itemtype="http://schema.org/ImageObject">

                  <a data-id="{{.id}}" href="{{.url}}" itemprop="contentUrl" data-size="{{.size}}" class="galleryImg">
                      <img src="{{.thumbnail_url}}" itemprop="thumbnail"/>
                  </a>

            </figure>
          {{ end }}
        </div>
        <div class="f6 gris-oscuro px0-5 {{ if lt (len $gallery) 2 }}px2{{end}} py0-5">#{{.Params.mercadolibre_id}}</div>
      {{ end }}
    {{ else }}
      <h1 class="title mt0 f1 px2 py0-5 tc">{{ if gt (len .Params.gallery) 1 }}Galería de Imágenes{{ else }}Imagen{{ end }}</h1>
      <div class="img-wrapper flex overflow-x-auto blanco">
        {{ $galleryfolder := "/imagenes" }}
        {{ $gallerythumbnail := "/thumbnails" }}
        {{ range $key, $value := .Params.gallery }}

        <figure itemscope itemtype="http://schema.org/ImageObject" {{ if $value.description }}aria-label="{{ $value.description }}"{{end}}>
          {{ if $value.file }}
            <a href="{{ $galleryfolder }}/{{ $value.file }}" itemprop="contentUrl" data-size="{{ $value.size }}" class="galleryImg">
                <img src="{{ $gallerythumbnail }}/{{ $value.file }}" itemprop="thumbnail" {{ if $value.alt }}alt="{{ $value.alt }}"{{end}} />
            </a>
          {{ else }}
            {{ if $value.cid}}{{ if ($.Scratch.Get "cloudinary") }}
              <a href="//res.cloudinary.com/{{ $.Scratch.Get "cloudinary" }}/image/upload/{{ $value.cid }}" itemprop="contentUrl" data-size="{{ $value.size }}" class="galleryImg">
                  <img src="//res.cloudinary.com/{{ $.Scratch.Get "cloudinary" }}/image/upload/w_144/{{ $value.cid }}" srcset="//res.cloudinary.com/{{ $.Scratch.Get "cloudinary" }}/image/upload/w_288/{{ $value.cid }} 2x" itemprop="thumbnail" {{ if $value.description }}alt="{{ $value.description }}"{{end}} />
              </a>
            {{ end }}{{ end }}
          {{ end }}
          {{ if $value.description }}
            <figcaption itemprop="caption description" style="display:none">
              {{ $value.description }}
            </figcaption>
          {{ end }}
        </figure>

        {{ end }}
      </div>
    {{ end }}
  </div>
</div><!-- /GALERIA -->
{{ end }}