<style type="text/css" id="headerStyle"></style>
<div class="bg-casi-blanco altura-2 w-100" style="z-index: 999" id="stickyHeader">
  <a class="screen-reader-only" href="#main-content">Saltar al contenido principal</a>
  <div class="pt1 px1 relative" id="header">
    <a href="/" class="db header-logo ml0-l" aria-hidden></a>

    <div>

      <div id="headerSocialLinks" class="tr absolute top-1 mt0-5 right-0 mr0-5">
        <a href="//facebook.com/Bertolinabikes" class="rojo-hover color-transition dib mr0-5 no-decoration tc" aria-label="/BertolinaBikes en Facebook"><span class="dib social-icon">{{ partial "svg_icons/facebook.svg" }}</span></a>
        <a href="//instagram.com/Bertolinabikes" class="rojo-hover color-transition dib mr0-5 no-decoration tc" aria-label="/BertolinaBikes en Instagram"><span class="dib social-icon">{{ partial "svg_icons/instagram.svg" }}</span></a>
      </div>

      <nav class="flex mt1 right-0" id="mainNav">
        {{ $currentPage := . }}

        {{ range .Site.Menus.main }}
          {{ $name := .Name }}
          {{ $type := replace ($name | lower) "í" "i" }}
          {{ if eq $name "Hot Sale"}}
            <a class="rojo b nowrap no-decoration dib py0-5 px1 small-caps {{if or (or ($currentPage.IsMenuCurrent "main" .) (eq $currentPage.Title $name)) (eq $currentPage.Type $type) }} active{{end}}" href="{{.URL}}">{{ $name }}</a>

          {{else}}
            <a class="no-decoration dib py0-5 px1 small-caps {{if or (or ($currentPage.IsMenuCurrent "main" .) (eq $currentPage.Title $name)) (eq $currentPage.Type $type) }} active{{end}}" href="{{.URL}}">{{ $name }}</a>
          {{end}}
        {{ end }}
      </nav>
    </div>

  </div>
</div>
<div id="main-content">