<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="theme-color" content="#000000" />
{{ .Hugo.Generator }}
<link rel="stylesheet" type="text/css" href="/recursos/css/style.css">
<link rel="apple-touch-icon-precomposed" sizes="128x128" href="/recursos/imagenes/favicon_128@2x.png">
<link rel="icon" type="image/png" href="/recursos/imagenes/favicon.appiconset/favicon_16@2x.png" />
<link rel="apple-touch-icon-precomposed" sizes="128x128" href="/recursos/imagenes/favicon.appiconset/favicon_128@2x.png">
<link rel="apple-touch-icon-precomposed" sizes="256x256" href="/recursos/imagenes/favicon.appiconset/favicon_256.png">

<title>{{ if (not (eq .Title .Site.Title)) }} {{ if (index .Site.Data.TitleFixes .Title) }}{{ index .Site.Data.TitleFixes .Title }}{{ else }}{{ .Title }}{{ end }} {{ end }} // {{ .Site.Title }}</title>

<!-- facebook open graph -->

<meta property="og:url" content="https:{{ .Permalink }}" />
<meta property="og:title" content="{{ .Title }}" />
<meta property="og:locale" content="es_AR" />
<meta property="og:locale:alternate" content="es_LA" />
<meta property="og:type" content="es_LA" />
<meta property="fb:app_id" content="132714387378692">
{{ if eq .Type "productos" }}<meta property="og:type" content="product" />
{{ else }}<meta property="og:type" content="article" />
{{ end }}
{{ if .Params.imagen }}
{{ if .Params.cloudinary }}<meta property="og:image" content="https://res.cloudinary.com/{{.Params.cloudinary}}/image/upload/c_fill,w_1200,h_630/{{.Params.imagen}}">
<meta propery="og:image:width" content="1200">
<meta propery="og:image:height" content="630">
{{else}}
  {{if .Params.imgurl}}
  <meta property="og:image" content="https://res.cloudinary.com/aeonfr/image/fetch/c_fill,w_1200,h_630/{{.Params.imagen}}">
  {{else}}
  <meta property="og:image" content="https://www.bertolinabikes.com.ar/imagenes/{{.Params.imagen}}">
  {{end}}
{{end}}
{{ else }}<meta property="og:image" content="https://www.bertolinabikes.com.ar/imagenes/thumb.jpg">
{{ end }}
<!-- SEO -->
{{ if .Description }}
<meta name="description" content="{{ .Description }}">
<meta property="og:description" content="{{ .Description }}" />
{{ else if .IsPage }}
<!-- generar la descripción desde las primeras palabras del cuerpo del contenido -->
<meta name="description" content="{{ .Summary | plainify }}">
<meta property="og:description" content="{{ .Summary | plainify }}" />
{{ else if eq .URL "/guias/" }}
<meta name="description" content="Guias para usuarios de bicicletas MTB. Consejos, recomendaciones y asesoramiento.">
<meta property="og:description" content="Guias para usuarios de bicicletas MTB. Consejos, recomendaciones y asesoramiento." />
{{ else if eq .URL "/productos/" }}
<meta name="description" content="Productos y marcas que trabajamos. En Bertolina Bikes tenemos bicicletas y equipamiento para ciclistas y practicantes del MTB (Mountain Bike).">
<meta property="og:description" content="Productos y marcas que trabajamos. En Bertolina Bikes tenemos bicicletas y equipamiento para ciclistas y practicantes del MTB (Mountain Bike)." />
{{ else }}
<meta name="description" content="Bertolina Bikes, bicicletas y equipamiento para MTB en Córdoba, Argentina. Distribuimos a todo el país. Visitá nuestro nuevo sitio web!">
<meta property="og:description" content="Bertolina Bikes, bicicletas y equipamiento para MTB en Córdoba, Argentina. Distribuimos a todo el país. Visitá nuestro nuevo sitio web!" />
{{ end }}

<meta name="google-site-verification" content="QD6qCEJcwBjS8QYy9Mpy9pETJ6Uw7St8PTYX-o9L3I8" />