<li class="mt1" style="list-style:none">
    <a href="{{ .Permalink }}" class="db no-decoration altura-1 altura-2-hover bg-blanco overflow-hidden {{ if .Params.imagen }}grid" style="grid-template-columns: 83px calc(100% - 83px)"{{else}}"{{end}}>
      {{ if .Params.imagen }}
        {{ if .Params.cloudinary }}
          <div style="height: 83px; width: 83px;background-image:url(//res.cloudinary.com/{{.Params.cloudinary }}/image/upload/c_fill,h_83,w_83/{{.Params.imagen}});" class="bg-cover"></div>
        {{else}}
          <div style="height: 83px; width: 83px;background-image:url({{.Params.imagen}});" class="bg-cover"></div>
        {{ end }}
      {{ end }}
      <div class="p1 nowrap text-overflow" style="">
        {{ .Title }}
        <small class="db gris">{{ .Date.Format "02/01/2006" }}</small>
      </div>
    </a>
</li>