<div class="bg-negro gris-claro altura-2" style="position: sticky;;top:0;z-index:9">
  <div id="goBackTab" class="py1 px2 nowrap text-overflow centrado" style="max-width: 75rem;">
    <a href="javascript:goBackLink()" class="dib w1 h1 v-top gris-claro">{{ partial "svg_icons/arrow-back.svg" . }}</a>
    <span class="dib f3 v-top pl0-5">{{if eq .Type "comprar"}}Comprar {{end}}{{.Title}}</span>
  </div>
  
</div>