{{ if gt .Paginator.TotalPages 1 }}
  <div class="medida centrado px2 gris-claro flex-ns">
    <div class="mr1 my1 p0-5">Página {{ .Paginator.PageNumber }} de {{ .Paginator.TotalPages }}</div>
      <div class="ml-auto negro mt1 nowrap">
        {{ if .Paginator.HasPrev }}
          <a href="{{ .Paginator.Prev.URL }}" class="gris-oscuro bg-casi-blanco no-decoration p0-5 dib">Anterior</a>
        {{ else }}
          <span class="gris bg-casi-blanco o-25 no-decoration p0-5 dib">Anterior</span>
        {{ end }}
        {{ if .Paginator.HasNext }}
          <a href="{{ .Paginator.Next.URL }}" class="gris-oscuro bg-casi-blanco no-decoration p0-5 dib">Siguiente</a>
        {{ else }}
          <span class="gris bg-casi-blanco o-25 no-decoration p0-5 dib">Siguiente</span>
        {{ end }}
      </div>
  </div>
{{ end }}