<li class="p0-5 product-card">
    <a href="{{ .Permalink }}" class="db no-decoration bg-blanco altura-1 altura-2-hover box-shadow-transition">
        <div class="relative list-header overflow-hidden">
            <div class="header-background" style="{{if .Params.cloudinary}}background-image:url(//res.cloudinary.com/{{.Params.cloudinary}}/image/upload/c_fill,g_center,h_240,w_360/{{.Params.imagen}});{{else}}{{if .Params.imgurl}}background-image:url(//res.cloudinary.com/aeonfr/image/fetch/c_fill,g_center,h_240,w_360/{{.Params.imagen}});{{else}}background-image:url(/thumbnails/{{ .Params.imagen }});{{end}}{{end}}">
            </div>
            <!--div class="header-textgroup-shadow"></div-->
            <h3 class="header-textgroup absolute left-0 bottom-0 right-0 p0-5 pt1-ns mb0 b">
              <div class="line-clamp-3 relative" style="z-index: 1">{{ .Title }}</div>
              <!-- {{/*
              {{ if .Params.mercadolibre_id }}
                {{ if index .Site.Data.prices .Params.mercadolibre_id }}
                  <div class="dib f6 absolute right-0 top--1 pr0-5 pb0-5 mt0-5 bg-blanco o-75 lh-copy">
                    <div style="transform: rotate(45deg);top: 0.4rem;border-radius: 0.1rem"
                    class="w2 h2 bg-blanco absolute left--1"></div>
                    <div class="relative rojo">
                      {{ partial "price.html" (index (index .Site.Data.prices .Params.mercadolibre_id) "cashPrice") }}
                    </div>
                  </div>
                {{ end }}
              {{ end }}
              */}} -->
            </h3>
        </div>
    </a>
</li>