<div id="share-menu" class="relative" aria-hidden="true" style="height: 0;overflow: hidden; transition: height .5s;">
  <div class="px2 py1 bg-casi-blanco nowrap gris-oscuro flex">

    <div class="mr1 mt0-5 dn dib-ns">Copiar link:</div>
    <div class="relative mr-auto" style="max-width:calc(100% - 6rem)">
      <input id="currentLinkInput" type="text" value="{{ .Permalink }}" class="bg-blanco f5 f3-ns" id="urlField">
      <span class="absolute rojo bg-blanco right--1 top-2 hidden animation-fill flotar-hacia-arriba dur--corta p0-5 altura-2" id="copiado">Copiado</span>
    </div>

    <div class="mr1 mt0-5 dn dib-ns ml-auto">Compartir:</div>

    <a class="gris-oscuro-hover color-transition dib w1 w2-ns mr1" target="_blank" href="mailto:?subject={{ .Title }}&amp;body={{ .Title }} {{ .Permalink }}" aria-labelledby="Enviar link por Email" id="emailShare">{{ partial "svg_icons/email.svg" }}</a>
    <a class="gris-oscuro-hover color-transition dib w1 w2-ns mr1" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ .Permalink }}" aria-labelledby="Compartir en Facebook" id="facebookShare">{{ partial "svg_icons/facebook.svg" }}</a>
    <a class="gris-oscuro-hover color-transition dib w1 w2-ns mr1" target="_blank" href="https://web.whatsapp.com/send?text={{ .Permalink }}"  data-action="share/whatsapp/share" aria-labelledby="Enviar link por Whatsapp" id="whatsappShare">{{ partial "svg_icons/whatsapp.svg" }}</a>

  </div>

  
</div>