<header class="single-header relative"{{if (isset .Params "imagen")}}{{else}} style="min-height:6rem;"{{end}}>
  {{ if (isset .Params "imagen") }}
    <div class="header-background background-cover absolute left-0 right-0 bottom-0 top-0" style="background-image:url({{ partial "cloudinary/url.html" . }})"></div>
    <div class="header-textgroup-shadow"></div>
  {{ end }}
  <div class="header-textgroup absolute left-0 bottom-0 right-0">
    <div class="medida centrado px2 py1 flex" style="align-items:flex-end">
      <h1 style="max-width: calc(100% - 2rem)">{{ .Title }}</h1>
      <button id="openShare" class="w2 ml-auto mt1 px0-5" type="button" aria-label="Compartir" aria-expanded="true" onclick="shareInit()">{{ partial "svg_icons/share.svg" }}</button>
      <button id="closeShare" class="hidden w2 ml-auto mt1 px0-5" type="button" aria-label="Compartir" aria-expanded="true" onclick="shareClose()">{{ partial "svg_icons/close.svg" }}</button>
    </div>
  </div>
  <div id="share-menu-div-arrow" class="hidden div-arrow absolute right-2 bottom-0 w2 h1 casi-blanco"></div>
</header>
{{ partial "share.html" . }}
