<!DOCTYPE html>
<html lang="es-ar">
<head>
    {{ partial "head.html" . }}
</head>
<body>
    <div class="wrapper">
       {{ partial "header.html" . }} 
        <main>
            <div class="medida centrado mt2">
                <h1 class="px2">{{.Title}}</h1>
                <ul class="m0 mt2 px2 list-style-none">
                    {{ $paginator := .Paginator }}
                    {{ range $index, $page := .Paginator.Pages }}
                        {{ .Render "li" }}
                    {{ end }}
                    <div style="clear:both"></div>
                    {{ partial "paginator.html" . }}
                </ul>
            </div>
        </main>
        {{ partial "footer.html" . }}
    </div>
</body>
</html>