<!DOCTYPE html>
<html lang="es-ar">
<head>
    {{ partial "head.html" . }}
</head>
<body class="bg-negro">
  <div class="wrapper">

    {{ partial "header.html" . }}

    <main class="medida centrado altura-2-ns my2 bg-blanco">
      <article class="mt1 px2 pb2">
        <h1 class="pt2 f0-5 my2">{{ .Title }}</h1>
        {{ .Content }}
      </article>
    </main>
    {{ partial "footer.html" . }}
  </div>


</body>
</html>