<!DOCTYPE html>
<html lang="es-ar">
<head>
    {{ partial "head.html" . }}
</head>
<body>
  <div class="wrapper">

    {{ partial "header.html" . }}

    <main class="medida centrado altura-2-ns my2">
      {{ partial "thumb-and-header.html" . }}
      <article class="mt1 px2 pb2">
        {{ .Content }}
      </article>
    </main>
    {{ partial "footer.html" . }}
  </div>

<!-- scripts -->
<script src="/recursos/js/share.js"></script>

</body>
</html>