<!DOCTYPE html>
<html lang="es-ar">
<head>
    {{ partial "head.html" . }}
</head>
<body class="bg-negro">
    <div class="wrapper">
       {{ partial "header.html" . }} 
       <main>
            <div class="medida centrado mt2">

                <div class="px2 mt1 f6 gris-claro"><a href="/{{ .Data.Plural }}/" class="gris-claro">{{ .Data.Plural | title }}</a> <span class="dib w1 h1 v-sub">{{partial "svg_icons/chevron-right.svg"}}</span> <a href="{{.Permalink}}" class="gris">{{.Title}}</a></div>


                {{ $paginator := .Paginate (where .Data.Pages "Type" "productos") }}
                <div class="px2 tc casi-blanco">
                    <h1>{{ .Data.Singular | title }}  {{.Title}}</h1>
                    <p>{{ .Paginator.TotalNumberOfElements }} elementos</p>
                </div>
            <ul class="m0 px1 list-style-none product-list">
                {{ range $index, $page := .Paginator.Pages }}
                    {{ .Render "li" }}
                {{ end }}
                <div style="clear:both"></div>
                {{ partial "paginator.html" . }}
            </ul>
       </main>
        {{ partial "footer.html" . }}
    </div>
</body>
</html>