<!DOCTYPE html>
<html lang="es-ar">
<head>
    {{ partial "head.html" . }}
</head>
<body class="bg-negro casi-blanco">
    <div class="wrapper">
       {{ partial "header.html" . }}
        <div class="medida centrado mt2">
          <div class="px2 tc">
            <h1>{{ .Title }}</h1>
            <p>{{ .Paginator.TotalNumberOfElements }} {{ .Data.Plural }} en total · Ordenadas por cantidad de elementos</p>
          </div>
          <ul class="w-100 px1 flex-ns flex-wrap" style=": center">
            {{ $plural := .Data.Plural }}
            {{ range $key, $value := .Data.Terms.ByCount }}
              <li class="dib w-100 w-50-ns w-33-l p0-5 tc">
                <a class="db no-decoration casi-blanco rojo-hover color-transition" href="/{{ $plural }}/{{ $value.Name }}"><h2>{{$value.Name | title }}</h2> <!--{{ $value.Count }} elemento{{ if gt $value.Count 1}}s{{ end }}--></a>
              </li>
            {{ end }}
          </ul>
      </div>
      {{ partial "footer.html" . }}
    </div>
</body>
</html>