<!DOCTYPE html>
<html lang="es-ar">
<head>
    {{ partial "head.html" . }}
  <style type="text/css">
    aside{ display: none; }
    @media (min-width: 65rem){
      aside{ display: block; }
    }
  </style>
</head>
<body class="bg-negro">

    <div class="wrapper">
      {{ partial "header.html" . }}

      <div class="flex-l w-100 grid-l centrado" style="grid-template-columns: auto 45rem; grid-template-rows: auto;max-width: 75rem">
        


        <aside class="mr1-l ml2-l db-l">
          
          <!--div class="medida-s centrado mt2 px2">
            <h1 class="casi-blanco">Búsqueda Rápida</h1>
            <div id="vue-app"><product-search></product-search></div>
          </div-->
          {{ partial "productos/aside.html" . }}
        </aside>

        <main class="ml1-l mr2-l flex-grow-1">
          <div class="medida centrado mt2">
            <h1 class="px2 casi-blanco mb1">Productos</h1>
            <ul class="m0 p0 list-style-none product-list">
              {{ $paginator := .Paginator }} {{/* declarada para el uso del "partial paginator.html" */}}
              {{ range .Paginator.Pages.ByWeight }}
                  {{ .Render "li" }}
              {{ end }}
            </ul>
            <div style="clear:both"></div>
            {{ partial "paginator.html" . }}
          </div><!-- / productos -->
        </main>
        
      </div><!-- /grid -->
      
      {{ partial "footer.html" . }}

      <!--script type="text/x-template" id="search-template">
        <div class="mt1">
          <input type="search" autocomplete="off" ref="quick-search" class="py0-5 px1 w-100">
          <div class="results">{(placeholder)}</div>
        </div>
      </script-->

    </div>
</body>
</html>