<!DOCTYPE html>
<html lang="es-ar">
<head>
    {{ partial "head.html" . }}

    <script type="text/javascript">

      var goBackFunction = (document.referrer && (document.referrer.endsWith('productos/') || document.referrer.match(/productos\/page\//)) ) ? function(){ history.back() } : function(){ window.location.href = '/productos';};
      function goBackLink(){
        goBackFunction();
      }
    </script>

    <style type="text/css">
      .f7{ font-size: 12px; }
    </style>

    {{ if .Params.mercadolibre_id }}{{ if (index .Site.Data.prices (.Params.mercadolibre_id)) }}
      {{ .Scratch.Set "price" (index .Site.Data.prices (.Params.mercadolibre_id)) }}
    {{ end }}{{ end }}

</head>
<body class="bg-gris-claro">
  <div class="wrapper">
    

    {{ partial "header.html" . }}


<div class="bg-negro">
    

    {{ partial "navigation-back.html" . }}

    <div class="flex-l w-100 grid-l centrado" style="grid-template-columns: 45rem auto; grid-template-rows: auto;max-width: 75rem">

      <main class="medida centrado mb2 my2-ns ml2-l mr1-l">
        
        <div class="bg-blanco altura-1">
          {{ partial "thumb-and-header.html" . }}
          <!-- {{/*
          {{ if .Scratch.Get "price" }}
          

          <div class="px2 tr bt mb1">
              Desde {{ partial "price.html" (index (.Scratch.Get "price") "cashPrice") }}
              <a href="#comprar"
                 class="dib px1 py0-5 b no-decoration bg-rojo blanco all-caps"
                 onclick="event.preventDefault();
                          document.querySelector('#comprar').scrollIntoView({behavior: 'smooth'});">
                Comprar
              </a>
            </div>
          {{ end }}
          */}} -->

          {{ partial "gallery.html" . }}

          <article class="mt1 px2">
            {{ .Content }}
          </article>

          

          {{ if .Params.mercadolibre }}
          <!-- MERCADOLIBRE-->
          <div class="bg-casi-blanco negro pb1" id="mercadolibre">
            <h1 class="mt0 pt1 px2 mb1">En MercadoLibre</h1>
              {{ range $key, $value := .Params.mercadolibre }}
                {{ if $value.link }}
                  <a class="no-decoration db p1 bg-gris flex altura-2-hover mt0-5" style="background-color: #ffdb15" href="{{ $value.link }}" target="_blank">
                    <span class="thumbnail dib w1 h1 mr1 dn db-ns">{{ partial "svg_icons/link.svg" }}</span>
                    {{ if $value.titulo }}
                    <span class="description nowrap" style="max-width: calc(100% - 6rem); overflow: hidden;text-overflow: ellipsis;">{{ $value.titulo | title }}</span>
                    {{ else }}
                    <span class="description nowrap" style="max-width: calc(100% - 1.5rem); overflow: hidden;text-overflow: ellipsis;">Ver en Mercadolibre</span>
                    {{ end }}
                    <span class="nl b left-info ml-auto nowrap"></span>
                    <span class="w1 h1 ml1 dn db-ns">{{partial "svg_icons/chevron-right.svg" }}</span>
                {{ end }}
              </a>
              {{ end }}
          </div><!-- /MERCADOLIBRE -->

          {{ end }}
          
          <!-- ENVIO -->
          <div class="px2 bg-casi-blanco negro py2">
            <h1 class="mt0">Envío</h1>
            <hr>
            <div class="flex-l">
                  
              {{ if .Params.envio_gratis }}
                <div class="icon-row w-50-l mr1-l mt1 mt0-ns">
                  <div class="icon"><img class="dib mt0-5" src="/recursos/imagenes/svg-text/oca-gratis.svg"></div>
                  <div class="text f3 f2-ns pt1-ns pt0-l"><b>Envío Gratis</b> a la sucursal de OCA más cercana.</div>
                </div>
                <div class="icon-row w-50-l mt1 mt0-ns">
                  <div class="icon">{{ partial "svg_icons/tienda.svg" . }}</div>
                  <div class="text f3 f2-ns pt1-ns pt0-l">Retiralo en el local de forma gratuita.</div>
                </div>
              {{ else }}
                <div class="icon-row mr1-l w-50-l">
                  <div class="icon">{{ partial "svg_icons/envio-local.svg" . }}</div>
                  <div class="text f3 f2-ns pt1-ns pt0-l">Envío a todo el país por OCA o MercadoEnvíos.</div>
                </div>
                <div class="icon-row w-50-l">
                  <div class="icon">{{ partial "svg_icons/tienda.svg" . }}</div>
                  <div class="text f3 f2-ns pt1-ns pt0-l">Retiralo en el local de forma gratuita.</div>
                </div>
              {{ end }}
            </div>
          </div><!-- /ENVIO -->

          <!-- PAGO -->
          <div class="px2 bg-casi-blanco negro pb1">
            <h1 class="mt0 pt1">Métodos de Pago</h1>
            <hr>
            <div class="flex-l">
              <div class="icon-row mr1-l w-50-l medida-s">
                <div class="icon">{{ partial "svg_icons/mercadopago.svg" . }}</div>
                <div class="text f2-ns pb1">
                  <h2 class="mt0">MercadoPago</h2>
                  <p class="f5 mb0">Todas las tarjetas de crédito y aprovechá una financiación de hasta 12 cuotas sin interés.
                  <br><a class="f6 rojo-hover nowrap" href="https://www.mercadopago.com.ar/promociones">Promociones vigentes {{ partial "svg_icons/open-in-new.svg" }}</a></p>
                </div>
              </div>
              <div class="icon-row mr1-l w-50-l medida-s">
                <div class="icon">{{ partial "svg_icons/todopago.svg" . }}</div>
                <div class="text f2-ns pb1">
                  <h2 class="mt0">TodoPago</h2>
                  <p class="f5 mb0">Elegí pagar en 6 o 12 cuotas y disfrutá las promociones especiales de TodoPago.</p>
                </div>
              </div>
              <div class="icon-row mr1-l w-50-l medida-s">
                <div class="icon">{{ partial "svg_icons/cash.svg" . }}</div>
                <div class="text f2-ns pb1">
                  <h2 class="mt0">Efectivo o Transferencia Bancaria</h2>
                  <p class="f5 mb0">El precio más bajo, garantizado.</p>
                </div>
              </div>
            </div>
          </div><!-- /PAGO -->

          {{ if .Scratch.Get "price" }}

            <div class="tc mt2 p1 mx-auto" id="comprar">
              <h2 class="dib mt1 v-top px1 f2 f1-ns lh-copy">
                <!--
                Comprá desde <b>{{ partial "price.html" (index (.Scratch.Get "price") "cashPrice") }}</b>
                -->
                Comprar
              </h2>
              <div class="f5 mt1">👇 Con los siguientes beneficios 👇</div>
            </div>


            <div id="comprar" class="px2 bg-blanco negro pb2">

              <div id="beneficios">
                <div class="mb2" v-if="item.warranty">
                  
                </div>
                <!-- PAGO -->
                <div class="mb2">
                  <div class="flex-l">
                    <div class="icon-row mr1-l w-50-l medida-s">
                      <div class="icon o-75">{{ partial "svg_icons/credit-card.svg" . }}</div>
                      <div class="text f2-ns pb1">
                        <h2 class="mt0">Elegí cómo pagar</h2>
                        <p class="f5 mb0">Efectivo, todas las tarjetas de credito, o transferencia Bancaria.</p>
                      </div>
                    </div>
                    <div class="icon-row mr1-l w-50-l medida-s">
                      <div class="icon o-75"><img class="mb0 mt0-5" src="/recursos/imagenes/svg-text/oca-gratis.svg" /></div>
                      <div class="text f2-ns pb1">
                        <h2 class="mt0">Envío gratis a todo el país</h2>
                        <p class="f5 mb0">Envío gratuito a la sucursal más cercana de OCA</p>
                      </div>
                    </div>
                    {{ if index (.Scratch.Get "price") "warranty" }}
                      <div class="icon-row mr1-l w-50-l medida-s" v-if="item.warranty">
                        <div class="icon o-75">{{ partial "svg_icons/verified.svg" . }}</div>
                        <div class="text f2-ns pb1">
                          <h2 class="mt0">{{ index (.Scratch.Get "price") "warranty" }}</h2>
                        </div>
                      </div>
                    {{ end }}
                  </div>
                </div>
              </div>

              <!--
              <div id="app">
                <!-- VUE APP -->
              <div id="noprices">
                <a href="https://api.whatsapp.com/send?phone=543517052401&text=Consulta por el producto: https:{{ .Permalink }}" target="_blank" class="no-decoration flex bg-casi-blanco bg-gris-claro-hover altura-1-hover" style="display:inline-flex">
                  <div>
                    <span class="dib h2 w2 mx0-5 v-top"><svg viewBox="0 0 24 24" fill="currentColor"><path d="M 19.078125 4.929688 C 17.191406 3.039063 14.683594 2 12.011719 2 C 6.503906 2 2.023438 6.480469 2.023438 11.984375 C 2.019531 13.746094 2.480469 15.464844 3.355469 16.976563 L 1.9375 22.152344 L 7.234375 20.761719 C 8.691406 21.558594 10.335938 21.976563 12.007813 21.980469 L 12.011719 21.980469 C 17.515625 21.980469 21.996094 17.5 22 11.992188 C 22 9.324219 20.964844 6.816406 19.078125 4.929688 Z M 16.898438 15.554688 C 16.691406 16.136719 15.671875 16.699219 15.214844 16.738281 C 14.753906 16.78125 14.324219 16.945313 12.21875 16.117188 C 9.679688 15.117188 8.078125 12.515625 7.953125 12.347656 C 7.828125 12.183594 6.9375 10.996094 6.9375 9.769531 C 6.9375 8.539063 7.582031 7.9375 7.808594 7.6875 C 8.039063 7.4375 8.308594 7.375 8.476563 7.375 C 8.640625 7.375 8.808594 7.375 8.953125 7.382813 C 9.132813 7.386719 9.328125 7.398438 9.515625 7.8125 C 9.738281 8.304688 10.222656 9.539063 10.285156 9.664063 C 10.347656 9.789063 10.390625 9.9375 10.304688 10.101563 C 10.222656 10.269531 10.179688 10.371094 10.058594 10.519531 C 9.933594 10.664063 9.796875 10.84375 9.683594 10.953125 C 9.558594 11.078125 9.429688 11.214844 9.574219 11.464844 C 9.71875 11.714844 10.21875 12.53125 10.960938 13.191406 C 11.914063 14.042969 12.71875 14.304688 12.96875 14.429688 C 13.21875 14.554688 13.363281 14.535156 13.507813 14.367188 C 13.65625 14.203125 14.132813 13.640625 14.300781 13.390625 C 14.464844 13.140625 14.632813 13.183594 14.859375 13.265625 C 15.089844 13.347656 16.316406 13.953125 16.566406 14.078125 C 16.816406 14.203125 16.980469 14.265625 17.042969 14.367188 C 17.105469 14.472656 17.105469 14.972656 16.898438 15.554688 Z "/></svg></span>
                  </div>
                  <span class="dib bg-rojo bg-rojo-oscuro-hover blanco small-caps px1 py0-5 pb0-5 v-top f4 f3-l">Consultar por WhatsApp</span>
                </a>
    
                <div class="mt0-5 p0-5 f3 f2-l v-top nowrap">
                  (351) 157 052 401
                </div>
                
              </div>

              <div id="comprar-footnotes">
                
                <div class="mt1">También puede consultar y comprar por <a href="https://www.facebook.com/bertolinabikes" target="_blank">Facebook</a> o en <a href="/contacto">Nuestro Local</a></div>
                <hr class="mt2">

                <div class="gris-oscuro lh-copy">
                  <h1>Más información:</h1>
                  {{ if (eq (index .Params.categorias 0) "bicicletas") }}
                    <div class="f6 mt1">
                      <h2>Embalaje</h2>
                      <p>La bici va armada y regulada en una caja de 1.4m
                      (largo)x 80 cm (alto)x 20cm(ancho) . Por motivos de
                      espacio en la misma al retirar la bici de la caja se
                      debe colocar el manubrio en stem, pedales, asiento y
                      la rueda delantera , todo este proceso demora 10
                      minutos aproximadamente para dejar la bici lista para
                      andar.</p>
                    </div>
                  {{end}}
                  <h2>Legal:</h2>
                  <div class="f6 mt0-5">Para compras en MercadoLibre y TodoPago, se aplican los términos y condiciones de cada plataforma.</div>
                  <div class="f6 mt0-5">Pagando de contado o por transferencia bancaria, siempre pagás el precio más bajo.</div>
                  <!--
                  <div class="f6 mt0-5">
                    BERTOLINABIKES SE RESERVA EL DERECHO A CAMBIAR EL PRECIO DE SUS PRODUCTOS SIN PREVIO AVISO. EL PRECIO QUE FIGURA EN ESTA WEB PODRÍA ESTAR DESACTUALIZADO, EN ESE CASO SERÁS AVISADO Y DEBERÁS ELEGIR SI PAGAR LA DIFERENCIA DE PRECIO, O RECIBIR UN REEMBOLSO DE TU TRANSACCIÓN.
                    <br>
                    PARA CUAlQUIER DUDA, RECUERDE QUE PUEDE PONERSE EN <a href="/contacto">CONTACTO</a> Y LE ASISTIREMOS CON GUSTO.
                  </div>
                  -->

                </div><!-- / Más información -->

              </div><!-- / #comprar-footnotes -->

            </div>
          {{ end }}


        </div>

         <!-- METADATOS -->
          <div class="px2 py2 bg-negro gris-claro flex">
            <div {{ if .Params.marcas }}class="w-50"{{else}}class="w-100"{{ end }}>
              {{ if .Params.categorias }}
                <span class="small-caps">Categoría{{ if gt .Params.categorias 1 }}s{{end}}:</span>
                <div>
                  {{ range $key, $value := .Params.categorias }}
                    {{ if lt $key 2 }}
                      {{/* lt=lower than... mostrar sólo las primeras 3 categorías */}}
                      {{ if gt $key 0 }}·{{end}}
                      <a class="casi-blanco rojo-hover casi-blanco-visited" href="/categorias/{{ $value | urlize }}">{{ $value | title }}</a>
                    {{end}}
                  {{ end }}
                </div>
              {{ end }}
            </div>
            <div class="w-50 ml-auto">
              {{ if .Params.marcas }}
                <span class="small-caps">Marca{{ if gt .Params.marcas 1 }}s{{end}}:</span>
                {{ $marcas := .Site.Data.marcas }}
                {{ range $key, $value := .Params.marcas }}
                  {{ if lt $key 3 }}
                    {{ if gt $key 0 }}·{{end}}
                    {{ $title := $value | lower }}
                    {{ if index $marcas $title }}
                      <a class="db no-decoration" href="/marcas/{{ $value | urlize }}"><h2><img src="/logos/{{ (index $marcas $title).imagen }}" alt="{{$value | title}}" class="m0" style="font-size:1.25rem"></h2></a>
                    {{ else }}
                      <a class="blanco rojo-hover blanco-visited" href="/marcas/{{ $value | urlize }}">{{ $value | title }}</a>
                    {{ end }}
                    
                  {{end}}
                {{ end }}
              {{ end }}
            </div>
          </div><!-- /METADATOS -->


      </main>

      <aside>


        <div class="medida centrado mt2 sticky-aside-behaviour">

          <div class="casi-blanco">
            
            <h2 class="mt0 pt1 px2 mb1 tc">Productos Relacionados</h2>

<ul class="p0 m0">
{{ $page_link := .Permalink }}
{{ $categories := .Params.categorias }}
{{ range $page := .Site.Pages }}
{{ $has_common_categories := intersect $categories .Params.categorias | len | lt 0 }}
  {{ if and $has_common_categories (ne $page_link $page.Permalink) (lt ($.Scratch.Get "$c") 4) (eq .Type "productos") }}
    {{ $.Scratch.Add "$c" 1 }}
    {{ partial "product-card.html" . }}
  {{ end }}
{{ end }}

{{/*
      Si no se encontró contenido relacionado (por ejemplo, es el único producto de la categoría), mostrar publicación anterior y/o siguiente
*/}}

{{ if not ($.Scratch.Get "$c") }}

  {{ if .PrevInSection }}
      {{ partial "product-card.html" .PrevInSection }}
  {{ end }}
  {{ if .NextInSection }}
      {{ partial "product-card.html" .NextInSection }}
  {{ end }}

{{ end }}
</ul>

          </div>
          
        </div>

      </aside>

    </div>
  
    {{ partial "footer.html" . }}

  </div>

</div>


<!-- scripts -->
<script src="/recursos/js/share.js"></script>
<script type="application/ld+json">
  {
    "@context": "http://www.schema.org",
    "@type": "product",
    {{ if .Params.marcas }}"brand": "{{ index .Params.marcas 0 }}",{{ end }}
    "name": "{{ .Title }}",
    {{ if .Params.categorias }}"category": "{{ index .Params.categorias 0 }}",{{ end }}
    "image": "https:{{ partial "cloudinary/url.html" . }}",
    "description": "{{.Params.description}}"{{ if .Scratch.Get "price" }},
    "offers": {
      "@type": "Offer",
      "priceCurrency": "ARG",
      "price": "{{ index (.Scratch.Get "price") "cashPrice" }}",
      "itemCondition": "http://schema.org/NewCondition",
      "availability": "http://schema.org/InStock",
      "seller": {
        "@type": "Organization",
        "name": "Bertolina Bikes"
      }
    }{{ end }}
  }
</script>


{{ if or .Params.gallery .Params.mercadolibre_id }}
  {{ partial "galeria-init.html" . }}
{{ end }}
{{ if .Params.mercadolibre }}
  <script src="/recursos/js/mercadolibreStatusCheck.js"></script>
{{ end }}

<!--
{{ if .Scratch.Get "price" }}
  <script>
    // Prices
    {{ with .Scratch.Get "price" }}
      //var todoPagoLink = '';
      var todoPagoPrice = {{ index . "6paymentsPrice" }};
      //var todoPagoLink12 = '';
      var todoPagoPrice12 = {{ index . "12paymentsPrice" }};
    {{ end }}

    // Product Vars:
    var mercadolibreId = '{{.Params.mercadolibre_id}}';
    {{ if  index (.Scratch.Get "price") "lowest_price_multiplier" }}
      // cash price calculated with a different multiplier
      var lowestPriceMultiplier = {{ index (.Scratch.Get "price") "lowest_price_multiplier"}};
    {{ else }}
      var lowestPriceMultiplier = {{ .Site.Data.config.default_lowest_price_multiplier }};
    {{ end }}
    var highestPriceMultiplier = {{ .Site.Data.config.default_highest_price_multiplier }};
    var brands = {{.Params.marcas | jsonify }};
    
    {{ if .Params.promo }}
      var promo = {{.Params.promo }};
    {{ end }}

    /**
    * Function that tracks a click on an outbound link in Analytics
    * This function takes a valid URL string as an argument, and uses that URL string
    * as the event label. Setting the transport method to 'beacon' lets the hit be sent
    * using 'navigator.sendBeacon' in browser that support it.
    */
    var gaTrackEvent = function(category, action, label) {
      ga('send', 'event', category, action, label);
    }
  </script>
  <script src="/recursos/js/comprar-single.js"></script>
{{ end }}
-->

<script>

</script>

</body>
</html>