<template>
  <div>{{append}}$&nbsp;<b v-html="prettyPrice"></b></div>
</template>
<script>
export default {
  name: 'price',
  props: ['$', 'append'],
  computed: {
    prettyPrice: function(){
      if (this.$ == 'Cargando...') return 'Cargando...';
      return (Math.ceil(this.$*10)/10).toLocaleString('en', { minimumFractionDigits: 2 }).replace(/\./, '<sup>').replace(/,/, '.') + '</sup>';
    }
  }
}
</script>