<!DOCTYPE html>
<html lang="es-ar">
<head>
    {{ partial "head.html" . }}
    <meta name="robots" content="noindex, nofollow">
</head>
<body class="px2">

    <h1>Meta</h1>
    <p>Documentación y herramientas para actualizar el contenido.</p>

    <h1>Contenidos:</h1>

    <ul>
        {{ $paginator := .Paginator }}
        {{ range $index, $page := .Paginator.Pages }}
            <li>
                <a href="{{ .Permalink }}">
                    {{ .Title }} ({{ .Date.Format "01/2006" }})
                </a>
            </li>
        {{ end }}
    </ul>

</body>
</html>