<!DOCTYPE html>
<html lang="es-ar">
<head>
    {{ partial "head.html" . }}
    <meta name="robots" content="noindex, nofollow">
    <style type="text/css">
      pre{
        border: 1px solid gray;
        padding: .5rem;
        border-radius: .5rem;
        font-size: .75rem;
      }

      h3, h4{ color: red; }
    </style>
</head>
<body>

  <div id="wrapper">
    {{ partial "header.html" . }}
    <main class="medida centrado px2">
      <article>
        {{ if .Params.toc }}
          <h1>{{ .Title }}</h1>
          <hr>
          <aside>
            <h2>En este artículo...</h2>
            {{ .TableOfContents }}
          </aside>
          <hr>
        {{ end }}
        {{ .Content }}
      </article>
        
    </main>
    {{ partial "footer.html" . }}
  </div>
</body>
</html>