<section class="p1 flex mb1" style="border:1px solid gray; border-radius: 1rem; line-height: 1">
    <svg class="w3 h3 mr1 w4-ns h4-ns" viewbox="0 0 22 22" aria-label="Información:" style="max-width:100px;max-height:100px;min-width: 1.5rem;">
        <circle cx="11" cy="11" r="10" fill="gray"></circle>
        <text font-family="serif" font-style="italic" x="8" y="18" font-size="22" fill="white">i</text>
    </svg>
    <div>{{ .Inner }}</div>
</section>