

  <div class="medida-s centrado mt2">
    
    <h1 class="px2 casi-blanco mb1">Marcas</h1>
    <div class="px1 flex flex-wrap">
      {{ $marcas := .Site.Data.marcas }}
      {{ range $index, $taxonomy := .Site.Taxonomies.marcas.ByCount }}
        {{ if lt $index 10 }}{{ if index $marcas $taxonomy.Name }}
          <a class="p0-5 w-50" href="/marcas/{{ $taxonomy.Name | urlize }}" aria-label="{{ $taxonomy.Name }}"><img src="/logos/{{ (index $marcas $taxonomy.Name).imagen }}"></a>
        {{ end }}{{end}}
      {{ end }}
        <a class="px0-5 py1 small-caps f2 db casi-blanco rojo-hover color-transition no-decoration" href="/marcas/">Ver todas <i class="dib w1 h1">{{ partial "svg_icons/chevron-right.svg" }}</i></a></li>
    </div>
  </div><!-- / marcas -->
  
  <div class="medida-s centrado mt1">

    <h1 class="px2 casi-blanco mb1">Categorías</h1>
    <ul class="flex flex-wrap small-caps m0-ns tc p0 f2">
    {{ $categorias := .Site.Data.categorias }}
      {{ range $name, $taxonomy := .Site.Taxonomies.categorias.ByCount }}
        <li class="w-50 w-33-ns w-50-l text-overflow pr0-5"><a class="casi-blanco rojo-hover color-transition no-decoration" href="/categorias/{{ $taxonomy.Name | urlize }}">{{ $taxonomy.Name }}</a></li>
      {{ end }}
    </ul>
     
  </div>
