
// Duración de la animacion
.dur--larga{ animation-duration: 0.6s }
.dur--base{ animation-duration: 0.4s }
.dur--corta{ animation-duration: 0.3s }

.animation-fill{ animation-fill-mode: forwards }

// flotando

.flotar-hacia-arriba{
  animation-name: flotar-hacia-arriba;
}

@keyframes flotar-hacia-arriba{
  to { top: 0rem; bottom: auto; }
}