html{
    min-width: 320px;
    box-sizing: border-box;
    padding: 0;
    color: $casi-negro;
    font-size: 16px;
    font-family:  'Din Pro', 'Roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-display: swap;
}

main{
     min-height: calc(100vh - 20.5rem + 1px);
}

div, article, main, aside, footer, blockquote, h1, h2, h3, h4, h5, p, pre, figure, ol, ul, li, header, footer, aside, nav, span, a, button, input
{ box-sizing: border-box; }

p, pre, blockquote, figure, ol, ul{
    line-height: 1.5;
}

p, pre, blockquote, figure, ol, ul{
    margin: 0 0 1rem;
}

ul{ padding-left: 1rem;}

li ul{ margin-bottom: 0 }

h1, h2, h3, h4, h5, h6{
    font-weight: 700;
    letter-spacing: 0.01em;
    font-family: 'Roboto Condensed', 'Roboto', 'Arial Narrow', Tahoma, Geneva, Verdana, sans-serif;
    margin: 1rem 0 0;
    font-display: swap;
    font-stretch: condensed;
    font-style: condensed bold;
}

h1, .texto-xxl{
    font-size: $texto-xxl;
}
h2, .texto-xl{
    font-size: $texto-xl;
}
h3, .texto-l{
    font-size: $texto-l;
}

h1, h2, h3, h4, abbr, .small-caps{
    text-transform: lowercase;
    font-variant: small-caps;
}

h5, h6, .all-caps{
    text-transform: uppercase;
    font-feature-settings: initial;
    font-variant-ligatures: contextual;
}
h4, .texto-m{
    font-size: $texto-m;
}
h5, h6, small, figcaption>h4, figcaption>p, .texto-s{
    font-size: $texto-s;
}

b, strong, .b{
    font-weight: 700;
}

hr{
    border: 1px solid $gris;
}

a{
    &:link, &:hover, &:focus, &:visited{
        color: $casi-negro;
    }
}
// footnote link
a[href^="#fn:"],
// Back to footnote link
a[href^="#fnref:"] {
  text-decoration: none;
  font-variant: initial;
}
a[href^="#fn:"]:after{ content: ''}
a[href^="#fn:"]:before{ content: ' '}

//romper links largos
//a{ word-break: break-all }

//sub and sup hack: don't change my line-height, bros!
sup, sub {
    vertical-align: baseline;
    position: relative;
    top: -0.4em;
}
sub {
    top: 0.4em;
}

// figcaption
figcaption>h4{
    font-weight: 400;
}
.no-transform, figcaption>h4{
    text-transform: initial;
}
.nl, figcaption>h4 {
    font-variant: initial;
}
img, .centrado{
    margin: 0 auto;
}

img{
    margin-bottom: 1rem;
    display: block;
    max-width: 100%;
    max-height: 100vh;
    // aplicar estilos en el texto "alt" de las imagenes...
    color: gray;
    font-size: 0.75rem;
    text-align: center;
}

figure, .tc{
    text-align: center;
}

figure{
    margin-left: -2rem;
    margin-right: -2rem;
    &>figcaption{
        margin-left: 4rem;
        margin-right: 4rem;
    }
}

pre, .overflow-x-auto{ overflow-x: auto }
body, .overflow-x-hidden{ overflow-x: hidden }

blockquote{
    padding-left: 1rem;
    border-left: 1px solid $rojo;
}

abbr[title], a{
    text-decoration: underline;
    text-decoration-skip: ink;
}

article a, abbr[title]{
    text-decoration-color: $rojo;
}

code{
    font-family: 'Source Code Pro', monospace
}

table{
    width: 100%;
}
td{ vertical-align: top;}

::selection{
    background-color: $rojo;
    color: #FFF;
}

input{
    border: none;
    border-bottom: 1px solid;
}

input:focus {
    outline-offset: 0px;
    outline: 2px solid $rojo;
}

button{
    padding: 0;
    border-style: none;
}
button:focus{
    outline: 1px solid $rojo
}

.screen-reader-only {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}
