.gris, a.gris{ color: $gris }
.gris-claro, a.gris-claro{ color: $gris-claro }
.gris-oscuro, a.gris-oscuro{ color: $gris-oscuro }
.casi-blanco, a.casi-blanco{ color: $casi-blanco }
.blanco, a.blanco{ color: #FFF }
.negro, a.negro{ color: #000 }
.rojo, a.rojo{ color: $rojo }
.rojo-oscuro, a.rojo-oscuro{ color: $rojo-oscuro }

.bg-gris{ background-color: $gris}
.bg-gris-claro{ background-color: $gris-claro}
.bg-gris-oscuro{ background-color: $gris-oscuro}
.bg-casi-blanco{ background-color: $casi-blanco }
.bg-blanco{ background-color: #FFF}
.bg-negro{ background-color: #000}
.bg-madera-claro{ background-color: $madera-claro}
.bg-madera-oscuro{ background-color: $madera-oscuro}
.bg-rojo{ background-color: $rojo}
.bg-rojo-oscuro{ background-color: $rojo-oscuro}

.bd-gris{ border-color: $gris}
.bd-gris-claro{ border-color: $gris-claro}
.bd-gris-oscuro{ border-color: $gris-oscuro}
.bd-rojo{ border-color: $rojo}


// hover, active and visited

.gris-visited:visited,
.gris-hover:hover,
.gris-active:active
{ color: $gris }
.gris-claro-visited:visited,
.gris-claro-hover:hover,
.gris-claro-active:active
{ color: $gris-claro }
.gris-oscuro-visited:visited,
.gris-oscuro-hover:hover,
.gris-oscuro-active:active
{ color: $gris-oscuro }
.casi-blanco-visited:visited,
.casi-blanco-hover:hover,
.casi-blanco-active:active
{ color: $casi-blanco }
.blanco-visited:visited,
.blanco-hover:hover,
.blanco-active:active
{ color: #FFF }
.negro-visited:visited,
.negro-hover:hover,
.negro-active:active
{ color: #000 }
.rojo-visited:visited,
.rojo-hover:hover,
.rojo-active:active
{ color: $rojo }
.rojo-oscuro-visited:visited,
.rojo-oscuro-hover:hover,
.rojo-oscuro-active:active
{ color: $rojo-oscuro }


// bg hover

.bg-gris-hover:hover
{ background-color: $gris }
.bg-gris-claro-hover:hover
{ background-color: $gris-claro }
.bg-gris-oscuro-hover:hover,
{ background-color: $gris-oscuro }
.bg-casi-blanco-hover:hover,
{ background-color: $casi-blanco }
.bg-blanco-hover:hover,
{ background-color: #FFF!important }
.bg-negro-hover:hover,
{ background-color: #000 }
.bg-rojo-hover:hover,
{ background-color: $rojo }
.bg-rojo-oscuro-hover:hover,
{ background-color: $rojo-oscuro }


.color-transition{
  transition: background-color .25s, color .25s;
}

.box-shadow-transition{ transition: box-shadow .25s }

.btn-transition, .color-transition.box-shadow-transition{
  transition: box-shadow .25s, background-color .25s, color .25s;
}