
// PRODUCTOS: ENCABEZADO DE LA CARTA DEL PRODUCTO
.single-header{
  height: 31.5rem;
  max-height: 70vh;
}
.single-header h1{ text-transform: uppercase }

.list-header{
  line-height: 1;
  .header-background{ padding-bottom: 100% }
  @media screen and (min-width: 30rem){
    .header-background{ padding-bottom: 70%; }
  }
}

.header-background,
.bg-cover
{
  background-repeat: no-repeat;
  background-size: cover;
}

.header-background{ background-position: center 25% }

.header-background + .header-textgroup-shadow{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 6rem;
}

.header-background ~ .header-textgroup{
  color: black;
  text-shadow: 0px 1px 0 white;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(/recursos/imagenes/texturas/manchas.svg);
}

// VISTA DE PRODUCTO SIMPLE: ICONOS/TEXTO EN LA SECCIÓN "ENVIO" Y "MODO DE PAGO"

.icon-row{
  display: flex;
  .icon{
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
  }
  .text{
    max-width: calc(100% - 4rem);
  }
}

// TEXTURAS

.textura-metal{
  background-image: url(/recursos/imagenes/texturas/textura-metal-150x150.png);
  background-size: 75px 75px;
}
.textura-aglomerado{
  background-image: url(/recursos/imagenes/texturas/textura-aglomerado-256x128.png);
  background-size: 256px 128px;
}

// EL BOTONCITO DE COMPARTIR, EL TRIANGULITO QUE SALE ABAJO DEL BOTÓN Y LA ANIMAC.

.div-arrow{ overflow: hidden}
.div-arrow:after{
  content: '';
  display: block;
  margin: 0 auto;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  transform: translateY(50%) rotate(45deg);
  animation: from-bottom .5s;
}
@keyframes from-bottom{
  from{ transform: translateY(100%) rotate(45deg);  }
}


// ENCABEZADO DEL SITIO
#header{ }
.header-logo{
  background-image: url(/recursos/imagenes/isologo.png);
  background-size: auto 2.5rem;
  width: 10rem;
  height: 2.5rem;
}
#mainNav{
  justify-content: center;
  overflow-x: hidden;
  ul{ list-style: none; }
  a{
    border-bottom: 2px solid $casi-blanco;
  }
  a.active{
    border-bottom: 2px solid $rojo;
  }
  margin: 0 -1rem;
  @media screen and (min-width: 30rem){
    margin: 0;
  }
}
.social-icon{ width: 1.5rem; height: auto;}

#header{
  min-width: 320px;
  max-width: 73rem;
  margin: 0 auto;
}

//lista de productos
.product-list{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

aside .product-card{
  @extend .w-100-l;
  @extend .mx-auto;
  display: block;
  max-width: 21rem;
  /*float: none;  on -l */
}

// STICKY HEADER
// 
#stickyHeader{
  transition: top 0.2s ease-out;
}


// GALLERY

.gallery .img-wrapper::-webkit-scrollbar
{
  height: 1rem;
  background-color: transparent;
}

.gallery .img-wrapper::-webkit-scrollbar-thumb
{
  border-radius: 1rem;
  border: .1rem solid black;
  background-color: #808080;
}
.gallery figure{
  margin: 0 .25rem;
  min-height: 4rem;
  min-width: 8rem;
  background-color: black;
}
.gallery figure a{
  display: block;
  max-width: 8rem;
  max-height: 3.9rem;
  border-bottom: .1rem solid #595959;
  position: relative;
  padding: 0 0 75% 0;
  overflow: hidden;
}
.gallery figure a img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: 0 0;
  position: absolute;
  margin: 0;
}
.pswp__container img{ max-height: initial!important }



// RESPONSIVE

@media screen and (min-width: 30rem){


  .icon-row{
    .icon{
      width: 3rem;
      height: 3rem;
    }
    .text{
      max-width: calc(100% - 5rem);
    }
  }

  .textura-aglomerado{
    background-image: url(/recursos/imagenes/texturas/textura-aglomerado-500x250.png);
    background-size: 500px 250px;
  }



}
  
@media (min-width: 44rem){ // ~ 650px
  #header{
    padding-bottom: 1rem;
  }
  #headerSocialLinks{
    top: 0;
  }
  #mainNav{
    position: absolute;
    top: auto;
    bottom: 0;
    bottom: 0;
    right: 0;
  }

}

/* -l */
@media (min-width: 65rem){
  aside .product-card{ float: none }
}