// margins and paddings
// basado en la librería TACHYONS.io, donde se explica mucho mejor el sistema

.p0{ padding: 0rem}
.p0-5{ padding: 0.5rem}
.p1{ padding: 1rem}
.p2{ padding: 2rem}
.p3{ padding: 3rem}
.p4{ padding: 4rem}

.m0{ margin: 0rem}
.m0-5{ margin: 0.5rem}
.m1{ margin: 1rem}
.m2{ margin: 2rem}
.m3{ margin: 3rem}
.m4{ margin: 4rem}

.px0{ padding-left: 0; padding-right: 0}
.px0-5{ padding-left: 0.5rem; padding-right: 0.5rem}
.px1{ padding-left: 1rem; padding-right: 1rem}
.px2{ padding-left: 2rem; padding-right: 2rem}
.px3{ padding-left: 3rem; padding-right: 3rem}
.px4{ padding-left: 4rem; padding-right: 4rem}

.mx--2{ margin-left: -2rem; margin-right: -2rem; }
.mx--1{ margin-left: -1rem; margin-right: -1rem; }
.mx0{ margin-left: 0; margin-right: 0}
.mx0-5{ margin-left: 0.5rem; margin-right: 0.5rem}
.mx1{ margin-left: 1rem; margin-right: 1rem}
.mx2{ margin-left: 2rem; margin-right: 2rem}
.mx3{ margin-left: 3rem; margin-right: 3rem}
.mx4{ margin-left: 4rem; margin-right: 4rem}

.py0{ padding-top: 0; padding-bottom: 0}
.py0-5{ padding-top: 0.5rem; padding-bottom: 0.5rem}
.py1{ padding-top: 1rem; padding-bottom: 1rem}
.py2{ padding-top: 2rem; padding-bottom: 2rem}
.py3{ padding-top: 3rem; padding-bottom: 3rem}
.py4{ padding-top: 4rem; padding-bottom: 4rem}

.my0{ margin-top: 0; margin-bottom: 0}
.my0-5{ margin-top: 0.5rem; margin-bottom: 0.5rem}
.my1{ margin-top: 1rem; margin-bottom: 1rem}
.my2{ margin-top: 2rem; margin-bottom: 2rem}
.my3{ margin-top: 3rem; margin-bottom: 3rem}
.my4{ margin-top: 4rem; margin-bottom: 4rem}

.pl0{ padding-left: 0rem}
.pl0-5{ padding-left: 0.5rem}
.pl1{ padding-left: 1rem}
.pl2{ padding-left: 2rem}
.pl3{ padding-left: 3rem}
.pl4{ padding-left: 4rem}

.ml0{ margin-left: 0rem}
.ml0-5{ margin-left: 0.5rem}
.ml1{ margin-left: 1rem}
.ml2{ margin-left: 2rem}
.ml3{ margin-left: 3rem}
.ml4{ margin-left: 4rem}

.pr0{ padding-right: 0rem}
.pr0-5{ padding-right: 0.5rem}
.pr1{ padding-right: 1rem}
.pr2{ padding-right: 2rem}
.pr3{ padding-right: 3rem}
.pr4{ padding-right: 4rem}

.mr0{ margin-right: 0rem}
.mr0-5{ margin-right: 0.5rem}
.mr1{ margin-right: 1rem}
.mr2{ margin-right: 2rem}
.mr3{ margin-right: 3rem}
.mr4{ margin-right: 4rem}

.pt0{ padding-top: 0rem}
.pt0-5{ padding-top: 0.5rem}
.pt1{ padding-top: 1rem}
.pt2{ padding-top: 2rem}
.pt3{ padding-top: 3rem}
.pt4{ padding-top: 4rem}

.mt0{ margin-top: 0rem}
.mt0-5{ margin-top: 0.5rem}
.mt1{ margin-top: 1rem}
.mt2{ margin-top: 2rem}
.mt3{ margin-top: 3rem}
.mt4{ margin-top: 4rem}

.pb0{ padding-bottom: 0rem}
.pb0-5{ padding-bottom: 0.5rem}
.pb1{ padding-bottom: 1rem}
.pb2{ padding-bottom: 2rem}
.pb3{ padding-bottom: 3rem}
.pb4{ padding-bottom: 4rem}

.mb0{ margin-bottom: 0rem}
.mb0-5{ margin-bottom: 0.5rem}
.mb1{ margin-bottom: 1rem}
.mb2{ margin-bottom: 2rem}
.mb3{ margin-bottom: 3rem}
.mb4{ margin-bottom: 4rem}

// auto margins

.mx-auto{ margin-left: auto; margin-right: auto }
.mt-auto{ margin-top: auto}
.mb-auto{ margin-bottom: auto}
.ml-auto{ margin-left: auto}
.mr-auto{ margin-right: auto}

// display

.db{ display: block }
.dib{ display: inline-block}
.di{ display: inline}
.dn, .hidden{ display: none}

.flex{ display: flex}
.flex-wrap{ flex-wrap: wrap }
.flex-grow-1{ flex-grow: 1}
.flex-start{ align-items: flex-start }
.flex-end{ align-items: flex-end }
.flex-center{ align-items: center }

.grid{ display: grid }
.inline-grid{ display: inline-grid }
.subgrid{ display: subgrid }

//bg

.bg-contain{ background-size: contain; background-repeat: no-repeat }
.bg-top-center{ background-position: top center }
.bg-center{ background-position: center }


// position

.absolute{ position: absolute }
.relative{ position: relative }
.fixed{ position: fixed }
.static{ position: static!important }


.top-auto{ top: auto }
.top--1{ top: -1rem; }
.top-0{ top: 0 }
.top-1{ top: 1rem}
.top-2{ top: 2rem}
.top-3{ top: 3rem}
.top-4{ top: 4rem}

.bottom-auto{ bottom: auto }
.bottom--1{ bottom: -1rem; }
.bottom-0{ bottom: 0 }
.bottom-1{ bottom: 1rem}
.bottom-2{ bottom: 2rem}
.bottom-3{ bottom: 3rem}
.bottom-4{ bottom: 4rem}

.left-auto{ left: auto }
.left--1{ left: -1rem; }
.left-0{ left: 0 }
.left-1{ left: 1rem}
.left-2{ left: 2rem}
.left-3{ left: 3rem}
.left-4{ left: 4rem}

.right-auto{ right: auto }
.right--1{ right: -1rem; }
.right-0{ right: 0 }
.right-1{ right: 1rem}
.right-2{ right: 2rem}
.right-3{ right: 3rem}
.right-4{ right: 4rem}

// medidas

.w-100{ width: 100% }
.w-66{ width: 66.66%; width: calc(100% / 3 * 2) }
.w-50{ width: 50% }
.w-33{ width: 33.33% }

.w1{ width: 1rem }
.w1-5{ width: 1.5rem }
.w2{ width: 2rem }
.w3{ width: 3rem }
.w4{ width: 4rem }

.h1{ height: 1rem }
.h1-5{ height: 1.5rem }
.h2{ height: 2rem }
.h3{ height: 3rem }
.h4{ height: 4rem }
.h6{ height: 6rem; }

// medidas máximas de cuadros de texto

.medida-s{ max-width: $medida-s }
.medida, .medida-m{ max-width: $medida-m }
.medida-l{ max-width: $medida-l }

// alturas

.altura-1-hover, .altura-2-hover{ box-shadow: 0 0 0 rgba(0,0,0,0); /*transition: box-shadow .25s*/ }

.altura-1, .altura-1-hover:hover{
  box-shadow: 0 1px 3px rgba(0,0,0,.42);
}
.altura-2, .altura-2-hover:hover{
  box-shadow: 0 2px 6px rgba(0,0,0,.42);
}


// text align

.tr{ text-align: right }
.tl{ text-align: left }
.tc{ text-align: center }

// font size

.f0-5{ font-size: 2rem; }
.f1{ font-size: 1.5rem }
.f2{ font-size: 1.25rem }
.f3 { font-size: 1.125rem}
.f4{ font-size: 1rem }
.f5{ font-size: 0.875rem }
.f6{ font-size: 0.75rem }

// miscelaneous

.no-decoration{
    text-decoration: none;
}

.nowrap{ white-space: nowrap}

.lh-copy{ line-height: 1.5}

.nl{ font-feature-settings: initial;
    font-variant-ligatures: contextual;
}

.list-style-none{ list-style: none }

.v-base{ vertical-align: baseline }
.v-btm{ vertical-align: bottom }
.v-sub{ vertical-align: sub }
.v-top{ vertical-align: top }

.o-100{ opacity: 100 }
.o-75{ opacity: 0.75 }
.o-50{ opacity: 0.5 }
.o-25{ opacity: 0.25 }
.o-0{ opacity: 0 }

.clearfix{ clear: both }

.text-overflow{
  overflow: hidden;
  width: 100%;
  text-overflow: ellipsis;
}

.overflow-hidden{ overflow: hidden }

.line-clamp-3{ // funciona sólo en navegadores "webkit"
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.pointer{
  cursor: pointer;
}