@media screen and (min-width: 30rem){
    html{
        font-size: 18px;
    }

    /*
        funciones ".-ns" ("not small")
    */

    
// margins and paddings
// basado en la librería TACHYONS.io, donde se explica mucho mejor el sistema

.p0-ns{ padding: 0rem}
.p0-5-ns{ padding: 0.5rem}
.p1-ns{ padding: 1rem}
.p2-ns{ padding: 2rem}
.p3-ns{ padding: 3rem}
.p4-ns{ padding: 4rem}

.m0-ns{ margin: 0rem}
.m0-5-ns{ margin: 0.5rem}
.m1-ns{ margin: 1rem}
.m2-ns{ margin: 2rem}
.m3-ns{ margin: 3rem}
.m4-ns{ margin: 4rem}

.px0-ns{ padding-left: 0; padding-right: 0}
.px0-5-ns{ padding-left: 0.5rem; padding-right: 0.5rem}
.px1-ns{ padding-left: 1rem; padding-right: 1rem}
.px2-ns{ padding-left: 2rem; padding-right: 2rem}
.px3-ns{ padding-left: 3rem; padding-right: 3rem}
.px4-ns{ padding-left: 4rem; padding-right: 4rem}

.mx0-ns{ margin-left: 0; margin-right: 0}
.mx0-5-ns{ margin-left: 0.5rem; margin-right: 0.5rem}
.mx1-ns{ margin-left: 1rem; margin-right: 1rem}
.mx2-ns{ margin-left: 2rem; margin-right: 2rem}
.mx3-ns{ margin-left: 3rem; margin-right: 3rem}
.mx4-ns{ margin-left: 4rem; margin-right: 4rem}

.py0-ns{ padding-top: 0; padding-bottom: 0}
.py0-5-ns{ padding-top: 0.5rem; padding-bottom: 0.5rem}
.py1-ns{ padding-top: 1rem; padding-bottom: 1rem}
.py2-ns{ padding-top: 2rem; padding-bottom: 2rem}
.py3-ns{ padding-top: 3rem; padding-bottom: 3rem}
.py4-ns{ padding-top: 4rem; padding-bottom: 4rem}

.my0-ns{ margin-top: 0; margin-bottom: 0}
.my0-5-ns{ margin-top: 0.5rem; margin-bottom: 0.5rem}
.my1-ns{ margin-top: 1rem; margin-bottom: 1rem}
.my2-ns{ margin-top: 2rem; margin-bottom: 2rem}
.my3-ns{ margin-top: 3rem; margin-bottom: 3rem}
.my4-ns{ margin-top: 4rem; margin-bottom: 4rem}

.pl0-ns{ padding-left: 0rem}
.pl0-5-ns{ padding-left: 0.5rem}
.pl1-ns{ padding-left: 1rem}
.pl2-ns{ padding-left: 2rem}
.pl3-ns{ padding-left: 3rem}
.pl4-ns{ padding-left: 4rem}

.ml0-ns{ margin-left: 0rem}
.ml0-5-ns{ margin-left: 0.5rem}
.ml1-ns{ margin-left: 1rem}
.ml2-ns{ margin-left: 2rem}
.ml3-ns{ margin-left: 3rem}
.ml4-ns{ margin-left: 4rem}

.pr0-ns{ padding-right: 0rem}
.pr0-5-ns{ padding-right: 0.5rem}
.pr1-ns{ padding-right: 1rem}
.pr2-ns{ padding-right: 2rem}
.pr3-ns{ padding-right: 3rem}
.pr4-ns{ padding-right: 4rem}

.mr0-ns{ margin-right: 0rem}
.mr0-5-ns{ margin-right: 0.5rem}
.mr1-ns{ margin-right: 1rem}
.mr2-ns{ margin-right: 2rem}
.mr3-ns{ margin-right: 3rem}
.mr4-ns{ margin-right: 4rem}

.pt0-ns{ padding-top: 0rem}
.pt0-5-ns{ padding-top: 0.5rem}
.pt1-ns{ padding-top: 1rem}
.pt2-ns{ padding-top: 2rem}
.pt3-ns{ padding-top: 3rem}
.pt4-ns{ padding-top: 4rem}

.mt0-ns{ margin-top: 0rem}
.mt0-5-ns{ margin-top: 0.5rem}
.mt1-ns{ margin-top: 1rem}
.mt2-ns{ margin-top: 2rem}
.mt3-ns{ margin-top: 3rem}
.mt4-ns{ margin-top: 4rem}

.pb0-ns{ padding-bottom: 0rem}
.pb0-5-ns{ padding-bottom: 0.5rem}
.pb1-ns{ padding-bottom: 1rem}
.pb2-ns{ padding-bottom: 2rem}
.pb3-ns{ padding-bottom: 3rem}
.pb4-ns{ padding-bottom: 4rem}

.mb0-ns{ margin-bottom: 0rem}
.mb0-5-ns{ margin-bottom: 0.5rem}
.mb1-ns{ margin-bottom: 1rem}
.mb2-ns{ margin-bottom: 2rem}
.mb3-ns{ margin-bottom: 3rem}
.mb4-ns{ margin-bottom: 4rem}

// auto margins

.mx-auto-ns{ margin-left: auto; margin-right: auto }
.mt-auto-ns{ margin-top: auto}
.mb-auto-ns{ margin-bottom: auto}
.ml-auto-ns{ margin-left: auto}
.mr-auto-ns{ margin-right: auto}

// display

.db-ns{ display: block }
.dib-ns{ display: inline-block}
.di-ns{ display: inline}
.dn-ns{ display: none}

.flex-ns{ display: flex}
.flex-wrap-ns{ flex-wrap: wrap }
.flex-grow-1-ns{ flex-grow: 1}


.grid-ns{ display: grid }
.inline-grid-ns{ display: inline-grid }
.subgrid-ns{ display: subgrid }

// position

.absolute-ns{ position: absolute }
.relative-ns{ position: relative }
.fixed-ns{ position: fixed }
.static-ns{ position: static!important }

.top-auto-ns{ top: auto }
.top--1-ns{ top: -1rem; }
.top-0-ns{ top: 0 }
.top-1-ns{ top: 1rem}
.top-2-ns{ top: 2rem}
.top-3-ns{ top: 3rem}
.top-4-ns{ top: 4rem}

.bottom-auto-ns{ bottom: auto }
.bottom--1-ns{ bottom: -1rem; }
.bottom-0-ns{ bottom: 0 }
.bottom-1-ns{ bottom: 1rem}
.bottom-2-ns{ bottom: 2rem}
.bottom-3-ns{ bottom: 3rem}
.bottom-4-ns{ bottom: 4rem}

.left-auto-ns{ left: auto }
.left--1-ns{ left: -1rem; }
.left-0-ns{ left: 0 }
.left-1-ns{ left: 1rem}
.left-2-ns{ left: 2rem}
.left-3-ns{ left: 3rem}
.left-4-ns{ left: 4rem}

.right-auto-ns{ right: auto }
.right--1-ns{ right: -1rem; }
.right-0-ns{ right: 0 }
.right-1-ns{ right: 1rem}
.right-2-ns{ right: 2rem}
.right-3-ns{ right: 3rem}
.right-4-ns{ right: 4rem}

// medidas

.w-100-ns{ width: 100% }
.w-66-ns{ width: 66.66%; width: calc(100% / 3 * 2) }
.w-50-ns{ width: 50% }
.w-33-ns{ width: 33.33% }

.w1-ns{ width: 1rem }
.w2-ns{ width: 2rem }
.w3-ns{ width: 3rem }
.w4-ns{ width: 4rem }

.h1-ns{ height: 1rem }
.h2-ns{ height: 2rem }
.h3-ns{ height: 3rem }
.h4-ns{ height: 4rem }

// alturas

.altura-1-ns{
  box-shadow: 0 1px 3px rgba(0,0,0,.42);
}
.altura-2-ns{
  box-shadow: 0 2px 4px rgba(0,0,0,.42);
}

// text align

.tr-ns{ text-align: right }
.tl-ns{ text-align: left }
.tc-ns{ text-align: center }

// font size

.f1-ns{ font-size: 1.5rem }
.f2-ns{ font-size: 1.25rem }
.f3-ns{ font-size: 1.125rem}
.f4-ns{ font-size: 1rem }
.f5-ns{ font-size: 0.875rem }
.f6-ns{ font-size: 0.75rem }

// miscelaneous

.no-decoration-ns{
    text-decoration: none;
}

.nowrap-ns{ white-space: nowrap}

.lh-copy-ns{ line-height: 1.5}

.nl-ns{ font-feature-settings: initial;
    font-variant-ligatures: contextual;
}

}
