@media screen and (min-width: 65rem){
    /*
        funciones ".-l" ("large")
    */

    
// margins and paddings
// basado en la librería TACHYONS.io, donde se explica mucho mejor el sistema

.p0-l{ padding: 0rem}
.p0-5-l{ padding: 0.5rem}
.p1-l{ padding: 1rem}
.p2-l{ padding: 2rem}
.p3-l{ padding: 3rem}
.p4-l{ padding: 4rem}

.m0-l{ margin: 0rem}
.m0-5-l{ margin: 0.5rem}
.m1-l{ margin: 1rem}
.m2-l{ margin: 2rem}
.m3-l{ margin: 3rem}
.m4-l{ margin: 4rem}

.px0-l{ padding-left: 0; padding-right: 0}
.px0-5-l{ padding-left: 0.5rem; padding-right: 0.5rem}
.px1-l{ padding-left: 1rem; padding-right: 1rem}
.px2-l{ padding-left: 2rem; padding-right: 2rem}
.px3-l{ padding-left: 3rem; padding-right: 3rem}
.px4-l{ padding-left: 4rem; padding-right: 4rem}

.mx0-l{ margin-left: 0; margin-right: 0}
.mx0-5-l{ margin-left: 0.5rem; margin-right: 0.5rem}
.mx1-l{ margin-left: 1rem; margin-right: 1rem}
.mx2-l{ margin-left: 2rem; margin-right: 2rem}
.mx3-l{ margin-left: 3rem; margin-right: 3rem}
.mx4-l{ margin-left: 4rem; margin-right: 4rem}

.py0-l{ padding-top: 0; padding-bottom: 0}
.py0-5-l{ padding-top: 0.5rem; padding-bottom: 0.5rem}
.py1-l{ padding-top: 1rem; padding-bottom: 1rem}
.py2-l{ padding-top: 2rem; padding-bottom: 2rem}
.py3-l{ padding-top: 3rem; padding-bottom: 3rem}
.py4-l{ padding-top: 4rem; padding-bottom: 4rem}

.my0-l{ margin-top: 0; margin-bottom: 0}
.my0-5-l{ margin-top: 0.5rem; margin-bottom: 0.5rem}
.my1-l{ margin-top: 1rem; margin-bottom: 1rem}
.my2-l{ margin-top: 2rem; margin-bottom: 2rem}
.my3-l{ margin-top: 3rem; margin-bottom: 3rem}
.my4-l{ margin-top: 4rem; margin-bottom: 4rem}

.pl0-l{ padding-left: 0rem}
.pl0-5-l{ padding-left: 0.5rem}
.pl1-l{ padding-left: 1rem}
.pl2-l{ padding-left: 2rem}
.pl3-l{ padding-left: 3rem}
.pl4-l{ padding-left: 4rem}

.ml0-l{ margin-left: 0rem}
.ml0-5-l{ margin-left: 0.5rem}
.ml1-l{ margin-left: 1rem}
.ml2-l{ margin-left: 2rem}
.ml3-l{ margin-left: 3rem}
.ml4-l{ margin-left: 4rem}

.pr0-l{ padding-right: 0rem}
.pr0-5-l{ padding-right: 0.5rem}
.pr1-l{ padding-right: 1rem}
.pr2-l{ padding-right: 2rem}
.pr3-l{ padding-right: 3rem}
.pr4-l{ padding-right: 4rem}

.mr0-l{ margin-right: 0rem}
.mr0-5-l{ margin-right: 0.5rem}
.mr1-l{ margin-right: 1rem}
.mr2-l{ margin-right: 2rem}
.mr3-l{ margin-right: 3rem}
.mr4-l{ margin-right: 4rem}

.pt0-l{ padding-top: 0rem}
.pt0-5-l{ padding-top: 0.5rem}
.pt1-l{ padding-top: 1rem}
.pt2-l{ padding-top: 2rem}
.pt3-l{ padding-top: 3rem}
.pt4-l{ padding-top: 4rem}

.mt0-l{ margin-top: 0rem}
.mt0-5-l{ margin-top: 0.5rem}
.mt1-l{ margin-top: 1rem}
.mt2-l{ margin-top: 2rem}
.mt3-l{ margin-top: 3rem}
.mt4-l{ margin-top: 4rem}

.pb0-l{ padding-bottom: 0rem}
.pb0-5-l{ padding-bottom: 0.5rem}
.pb1-l{ padding-bottom: 1rem}
.pb2-l{ padding-bottom: 2rem}
.pb3-l{ padding-bottom: 3rem}
.pb4-l{ padding-bottom: 4rem}

.mb0-l{ margin-bottom: 0rem}
.mb0-5-l{ margin-bottom: 0.5rem}
.mb1-l{ margin-bottom: 1rem}
.mb2-l{ margin-bottom: 2rem}
.mb3-l{ margin-bottom: 3rem}
.mb4-l{ margin-bottom: 4rem}

// auto margins

.mx-auto-l{ margin-left: auto; margin-right: auto }
.mt-auto-l{ margin-top: auto}
.mb-auto-l{ margin-bottom: auto}
.ml-auto-l{ margin-left: auto}
.mr-auto-l{ margin-right: auto}

// display

.db-l{ display: block }
.dib-l{ display: inline-block}
.di-l{ display: inline}
.dn-l{ display: none}

.flex-l{ display: flex}
.flex-wrap-l{ flex-wrap: wrap }
.flex-grow-1-l{ flex-grow: 1}

.grid-l{ display: grid }
.inline-grid-l{ display: inline-grid }
.subgrid-l{ display: subgrid }

// position

.absolute-l{ position: absolute }
.relative-l{ position: relative }
.fixed-l{ position: fixed }
.static-l{ position: static!important }

.top-auto-l{ top: auto }
.top--1-l{ top: -1rem; }
.top-0-l{ top: 0 }
.top-1-l{ top: 1rem}
.top-2-l{ top: 2rem}
.top-3-l{ top: 3rem}
.top-4-l{ top: 4rem}

.bottom-auto-l{ bottom: auto }
.bottom--1-l{ bottom: -1rem; }
.bottom-0-l{ bottom: 0 }
.bottom-1-l{ bottom: 1rem}
.bottom-2-l{ bottom: 2rem}
.bottom-3-l{ bottom: 3rem}
.bottom-4-l{ bottom: 4rem}

.left-auto-l{ left: auto }
.left--1-l{ left: -1rem; }
.left-0-l{ left: 0 }
.left-1-l{ left: 1rem}
.left-2-l{ left: 2rem}
.left-3-l{ left: 3rem}
.left-4-l{ left: 4rem}

.right-auto-l{ right: auto }
.right--1-l{ right: -1rem; }
.right-0-l{ right: 0 }
.right-1-l{ right: 1rem}
.right-2-l{ right: 2rem}
.right-3-l{ right: 3rem}
.right-4-l{ right: 4rem}

// medidas

.w-100-l{ width: 100% }
.w-66-l{ width: 66.66%; width: calc(100% / 3 * 2) }
.w-50-l{ width: 50% }
.w-33-l{ width: 33.33% }

.w1-l{ width: 1rem }
.w2-l{ width: 2rem }
.w3-l{ width: 3rem }
.w4-l{ width: 4rem }

.h1-l{ height: 1rem }
.h2-l{ height: 2rem }
.h3-l{ height: 3rem }
.h4-l{ height: 4rem }

// alturas

.altura-1-l{
  box-shadow: 0 1px 3px rgba(0,0,0,.42);
}
.altura-2-l{
  box-shadow: 0 2px 4px rgba(0,0,0,.42);
}

// text align

.tr-l{ text-align: right }
.tl-l{ text-align: left }
.tc-l{ text-align: center }

// font size

.f1-l{ font-size: 1.5rem }
.f2-l{ font-size: 1.25rem }
.f3-l{ font-size: 1.125rem}
.f4-l{ font-size: 1rem }
.f5-l{ font-size: 0.875rem }
.f6-l{ font-size: 0.75rem }

// miscelaneous

.no-decoration-l{
    text-decoration: none;
}

.nowrap-l{ white-space: nowrap}

.lh-copy-l{ line-height: 1.5}

.nl-l{ font-feature-settings: initial;
    font-variant-ligatures: contextual;
}

}