// colores

$rojo: #FB0410;
$rojo-oscuro: #810000;
$negro: #000;
$gris: hsl(0,0,50);
$gris-oscuro: hsl(0,0,35);
$gris-claro: hsl(0,0,65);
$casi-blanco: #DBDBDB;
$madera-claro: #eac06e;
$madera-oscuro: #a95c0c;

$casi-blanco: hsl(0,0,90);
$casi-negro: hsl(0,0,10);

//tipografía

$texto-xxl: 1.5rem;
$texto-xl: 1.25rem;
$texto-l: 1.125rem;
$texto-m: 1rem;
$texto-s: 0.75rem;

//medidas

$medida-s: 30rem;
$medida-m: 45rem;
$medida-l: 60rem;
