<!DOCTYPE html>
<html lang="es-ar">
<head>
    {{ partial "head.html" . }}

    <script type="text/javascript">

      var goBackFunction = (document.referrer && (document.referrer.endsWith('novedades/') || document.referrer.match(/novedades\/page\//)) ) ? function(){ history.back() } : function(){ window.location.href = '/';};
      function goBackLink(){
        goBackFunction();
      }

    </script>
</head>
<body class="bg-gris-claro">
<div class="wrapper">

  {{ partial "header.html" . }}

  <div class="bg-blanco">
    

    {{ partial "navigation-back.html" . }}

    <main>
      {{ if (isset .Params "imagen") }}
        {{ if (isset .Params "cloudinary") }}
        {{ partial "cloudinary/fullsize-image.html" . }}
        {{ else }}
          <img src="/imagenes/{{.Partial.imagen}}">
        {{ end }}
        <div class="header-textgroup-shadow"></div>
      {{ end }}
      <div class="medida centrado altura-2-ns my2">
        <article class="pt1 px2 pb2">
          <h1 class="uppercase">{{ .Title }}</h1>
          {{ .Content }}

          {{ if .Params.link }}
            <div class="mt2 tr">
              <a class="dib p0-5 p1-ns box-shadow-transition altura-2-hover bg-rojo bg-rojo-oscuro-hover blanco color-transition tc no-decoration" href="{{ .Params.link }}">
                {{ if .Params.boton }}{{ .Params.boton }}
                {{ else }}
                <span class="w2 h2 dib">{{ partial "svg_icons/chevron-right.svg"}}</span>
                {{end}}
              </a>
            </div>
          {{ end }}
          
        </article>
        {{ partial "gallery.html" . }}
        <div class="flex w-100 flex-start mt1 px2 px0-ns">
          <div class="dib p0-5 gris">Publicado el {{ .Date.Format "02/01/2006" }}</div>
          <button id="openShare" class="ml-auto p0-5 gris-oscuro" type="button" aria-label="Compartir" aria-expanded="true" onclick="shareInit()"><span class="dib w1">{{ partial "svg_icons/share.svg" }}</span> Compartir</button>
          <button id="closeShare" class="hidden ml-auto p0-5 gris-oscuro" type="button" aria-label="Compartir" aria-expanded="true" onclick="shareClose()"><span class="dib w1">{{ partial "svg_icons/close.svg" }}</span> Compartir</button>
        </div>
        <div id="share-menu-div-arrow" class="hidden div-arrow absolute right-2 bottom-0 w2 h1 casi-blanco"></div>

        {{ partial "share.html" . }}
      </div>
    </main>
    {{ partial "footer.html" . }}

  </div>
</div>

<!-- scripts -->
<script src="/recursos/js/share.js"></script>
{{ if .Params.gallery }}
  {{ partial "galeria-init.html" . }}
{{ end }}

</body>
</html>