<!DOCTYPE html>
<html lang="es-ar" class="p0">
<head>
    {{ partial "head.html" . }}
</head>
<body>

    <style type="text/css">
        #controls {
            padding: 0.5rem;
            position: absolute;
            top: 0;
            width: 100%;
            background-color: #888;
            background-color: rgba(0, 0, 0, 0.35);
        }
        /* range input formatting
         * relies heavly on this:
         * https://codepen.io/thebabydino/pen/pvpJWX
         */
        input[type=range] {
            display: none;
        }
        </style>
        <canvas id="kale" class="absolute"></canvas>
        <div class="absolute left1 right1 tc" style="top: 50%;
        transform: translateY(-50%);">
            <div class="dib bg-casi-negro">
                <img class="w-100" alt="Error 404" src="/recursos/imagenes/svg-text/error-404.svg" />
                <p class="blanco px1">La página no existe.</p>
                <a class="blanco dib p1" href="/">Volver al inicio.</a>
            </div>
        </div>

        <img class="absolute right1 bottom1 mb0" alt="Logotipo de Bertolina Bikes" src="/recursos/imagenes/bertolina-bikes-117x117.png">
        
        <input id="slider-1" class="slider" type="range" step="2" value="8" max="14" min="6">  
        <img id="defaultImg" class="hidden" src="/recursos/imagenes/kaleidoscope/kaleidoscope.jpg" />
        
    <script type="text/javascript">
          
          //setup global variables
        var canvas = document.getElementById("kale");
        canvas.height = window.innerHeight;
        canvas.width = window.innerWidth;
        
        (function draw() {
                var ctx = canvas.getContext('2d');
                var img = new Image();
                var slider = document.getElementById("slider-1");
                var triangles = slider.value; //amount of triangles for kaleidoscope
                    
                img.onload = function(){
                    //getting image dimensions so entire canvas width is covered
                    var diagonal = Math.sqrt(Math.pow(canvas.width,2) + Math.pow(canvas.height,2));
                    var scaleFactor = img.width/img.height;
                    var h = diagonal/2;
                    var w = parseInt(scaleFactor*h);
                    
                    //event listeners
                    //draw kaleidoscope once before movement begins
                    kaleidoscope(w, h, img, canvas, ctx, triangles, 0);
                    
        
                    var windowWidth = window.innerWidth;
        
                    function animationFrame(increment, w, h, img, canvas, ctx, triangles, x){
        
                      if ( (x + increment) >= (windowWidth) || (x + increment) <= 0 )
                        increment = increment * -1;
        
                      x = x + increment;
        
                      let clientX = x.map(0, canvas.width, -w/10, w/10);
        
                      kaleidoscope(w, h, img, canvas, ctx, triangles, clientX);
        
                      window.requestAnimationFrame(function(){
                        animationFrame(increment, w, h, img, canvas, ctx, triangles, x);
                      })
                    }
        
                    window.requestAnimationFrame(function(){
                      animationFrame(1, w, h, img, canvas, ctx, triangles, 0);
                    })
        
                    //redraw kaleidoscope when window size changes
                    window.addEventListener("resize", function(){
                        canvas.height = window.innerHeight;
                        canvas.width = window.innerWidth;
                        //window.requestAnimationFrame(function(){kaleidoscope(w, h, img, canvas, ctx, triangles, 0);});
                        diagonal = Math.sqrt(Math.pow(canvas.width,2) + Math.pow(canvas.height,2));
                        scaleFactor = img.width/img.height;
                        h = diagonal/2;
                        w = parseInt(scaleFactor*h);
                    });
                    
                }
            img.src = document.getElementById("defaultImg").src;
        })();
        
        /* draws a kaleidoscope
         * tranlates coordinates to center of canvas and then rotates by vertexAngle
         * then sets up the triangle clipping mask 
         * and rotates again by baseAngle so the image is perpendicular to the vertexAngle
         * finally draws the image (as is, or mirrored)
         */
        function kaleidoscope(w, h, img, canvas, ctx, triangles, offset){
            //creates the triangle for the clipping mask
            var triangleClip = new Path2D();
            triangleClip.moveTo(0,0);
            triangleClip.lineTo(canvas.width, 0);
            triangleClip.lineTo(canvas.width*Math.cos((Math.PI/180)*(360/triangles)),canvas.width*Math.sin((Math.PI/180)*(360/triangles)));
            triangleClip.lineTo(0, 0);
            
            //gets the angles of the triangleClip
            var vertexAngle = 360/triangles;
            var baseAngle = (180 - vertexAngle)/2;
            
            //start drawing triangles
            for (var i=0; i < triangles; i++){
                ctx.save();
                ctx.translate(canvas.width/2, canvas.height/2);
                ctx.rotate((Math.PI/180)*vertexAngle*i);
                ctx.clip(triangleClip);
                if (i % 2 === 0) {
                    ctx.rotate(-(Math.PI/180)*baseAngle);
                    mirror(img, ctx, w/2+offset, 0, w, h);
                }
                else {
                    ctx.rotate(-(Math.PI/180)*baseAngle);
                    ctx.drawImage(img, -w/2+offset, 0, w, h);
                }
                ctx.restore();
            }
        }
        
        //http://stackoverflow.com/questions/8168217/html-canvas-how-to-draw-a-flipped-mirrored-image
        function mirror(v, canvas, x, y, width, height){
            canvas.save();
            canvas.scale(-1,1);
            canvas.drawImage(v, x ,y ,width*-1,height);
            canvas.restore();
        }
        
        //http://stackoverflow.com/questions/10756313/javascript-jquery-map-a-range-of-numbers-to-another-range-of-numbers#23202637
        /* maps number from one range to another */
        Number.prototype.map = function (in_min, in_max, out_min, out_max) {
          return (this - in_min) * (out_max - out_min) / (in_max - in_min) + out_min;
        }
    </script>


</body>
</html>

