<!DOCTYPE html>
<html lang="en">
<head>
    {{ partial "head.html" . }}
  <style type="text/css">
    .bg-cyclist{
      background-image: url('/recursos/imagenes/proyecto/mtb-aesthetics-5.jpg');
      background-size: cover;
      /*filter: blur(5px);*/
    }

    .logo-container{
      border-radius: 1rem;
      border: 1px solid white;
      box-shadow: inset 0 1px 6px rgba(0,0,0,.4),
                  0 1px 3px rgba(0,0,0,.6);
    }

    .bg-wood{
      z-index: 1;
      position: relative;
    }
    .bg-wood::before {
      content: "";
      position: absolute;
      top: 0; 
      left: 0;
      width: 100%; 
      height: 100%;  
      opacity: .85;
      z-index: -1;
      background: url(/imagenes/2016-12-05-portada-fondo.jpg);
    }

    @media screen and (min-width: 1000px) {
      .bg-cyclist{
        background-image: url('/recursos/imagenes/proyecto/portada.jpg');
      }
    }



    @media screen and (min-width: 40rem){
      .bg-wood::before{ opacity: 1}
      .grid-ns{ display: grid!important;
        grid-template-columns: 1fr 1fr;
        column-gap: 1rem;
      }

      .card-grid-layout{
        grid-template-columns: repeat(2, 50%);
      }
      
    }


  </style>
</head>
<body class="bg-negro">

  <div class="wrapper">
    {{ partial "header.html" . }}




    <section class="bg-cyclist relative">
      <div class="tc px1 py2">
        <div class="dib mb2 grid-ns medida-l mx-auto">
          <div><!-- empty column--></div>
          <div class="logo-container overflow-hidden bg-wood blanco px1" style="text-shadow: 1px 1px 3px black">
            <h1 class="py1"><img src="/recursos/imagenes/isologo-texto-blanco.png" alt="Bertolina Bikes" class="dib m0"></h1>
            
            <div class="casi-negro">
              <h2>Equipamiento para ciclismo</h2>
            <div class="mt1 small-caps">accesorios, repuestos, indumentaria, todos los rodados, componentes</div>
            
            <h2 class="tl m0 f4 mt2">Encontranos en...</h2>

            <p class="f4 tl">Pueyrredón 1506, Córdoba (X5000), Argentina</p>
            
            
            <p class="f5 tl">
              <b>Horarios de atención:</b>
              <br>
              Lunes a Viernes: 10 a 13 horas y 17 a 20:30 horas
              <br>Sábados: 10 a 14 horas
            </p>

            <div class="grid-ns">
              <p class="f4 tl">
                
                Tel. Móvil: <a href="tel:543517052401" class="blanco b db di-ns">(351) 157 052 401</a>
                <br>
                Tel. Fijo: <a href="tel:03514894010" class="blanco b db di-ns">(0351) 489 4010</a>
                <br>
                <a href="mailto:bertolinabikes@gmail.com" class="blanco b db di-ns">bertolinabikes@gmail.com</a>
              </p>
              
              <div class="my1 f4 tl">
                <div class="mb0-5 f6">También nos encontrás en:</div>
                
                <a href="//facebook.com/Bertolinabikes" class="blanco dib mr0-5 no-decoration tc" aria-label="/BertolinaBikes en Facebook">
                  <span class="dib w1 h1 v-btm"><svg viewBox="0 0 24 24" style="max-width:5rem"><use xlink:href="#facebook"></use></svg></span>
                  Facebook
                </a>
                <a href="//instagram.com/Bertolinabikes" class="blanco dib mr0-5 no-decoration tc" aria-label="/BertolinaBikes en Instagram"><span class="dib w1 h1 v-btm"><svg viewBox="0 0 24 24" style="max-width:5rem"><use xlink:href="#instagram"></use></svg></span> Instagram</a>
              </div>
            </div>
          </div><!-- / logo-container -->
          


          </div>


          
          
        </div><!-- /grid -->
        <!--<div class="dn db-ns absolute bottom-0 left-0 right-0">
          <svg class="db" viewBox="0 0 5000 596">
            <defs>
                <pattern id="img1" patternUnits="userSpaceOnUse" width="46" height="596">
                    <image xlink:href="/recursos/imagenes/patron2_circ.svg" x="0" y="0" width="46" height="596" />
                </pattern>
            </defs>
            <path d="M0 0 L 5000 0 L 5000 596 L 0 596"
            fill="url(#img1)" />
          </svg>
        </div> /recursos/imagenes/patron2_circ.svg -->
        <div class="mt3 blanco medida-s mx-auto">

          <h2 class="f0-5" style="text-shadow: 1px 1px 3px black">¿Qué estás buscando?</h2>

          <div class="product-list my2">

            <a href="/categorias/bicicletas" class="db bg-blanco no-decoration bg-blanco altura-1 altura-2-hover box-shadow-transition m0-5">
              <div class="relative list-header overflow-hidden">
                  <div class="header-background" style="background-image:url(/thumbnails/amphion27vel.jpg);">
                  </div>
                  
                  <h3 class="header-textgroup absolute left-0 bottom-0 right-0 p0-5 pt1-ns mb0 b">
                    <div class="line-clamp-3 relative" style="z-index: 1">Bicicletas</div>
                  </h3>
              </div>
            </a>

            <a href="/categorias/indumentaria" class="db bg-blanco no-decoration bg-blanco altura-1 altura-2-hover box-shadow-transition m0-5">
              <div class="relative list-header overflow-hidden">
                  <div class="header-background" style="background-image:url(/thumbnails/cascos-scott.jpg);">
                  </div>
                  
                  <h3 class="header-textgroup absolute left-0 bottom-0 right-0 p0-5 pt1-ns mb0 b">
                    <div class="line-clamp-3 relative" style="z-index: 1">Cascos</div>
                  </h3>
              </div>
            </a>

            <a href="/categorias/accesorios" class="db bg-blanco no-decoration bg-blanco altura-1 altura-2-hover box-shadow-transition m0-5">
              <div class="relative list-header overflow-hidden">
                  <div class="header-background" style="background-image:url(/thumbnails/echowell.jpg);">
                  </div>
                  
                  <h3 class="header-textgroup absolute left-0 bottom-0 right-0 p0-5 pt1-ns mb0 b">
                    <div class="line-clamp-3 relative" style="z-index: 1">Luces y accesorios</div>
                  </h3>
              </div>
            </a>

            <a href="/categorias/componentes" class="db bg-blanco no-decoration bg-blanco altura-1 altura-2-hover box-shadow-transition m0-5">
              <div class="relative list-header overflow-hidden">
                  <div class="header-background" style="background-image:url(/thumbnails/cuadro-venzo-elemento.jpg);">
                  </div>
                  
                  <h3 class="header-textgroup absolute left-0 bottom-0 right-0 p0-5 pt1-ns mb0 b">
                    <div class="line-clamp-3 relative" style="z-index: 1">Componentes</div>
                  </h3>
              </div>
            </a>

          </div>

        </div>
      </div>
    </section>

    
    <div class="bg-casi-blanco">
        <div class="px2 px4-l mx-auto pt1 medida-l">
          <h1 class="tc">Disfrutá de precios y promociones exclusivas en este sitio web</h1>
          <hr>
          <!-- PAGO -->
          <div class="mb2">
            <div class="flex-l">
              <div class="icon-row mr1-l w-50-l medida-s">
                <div class="icon o-75">{{ partial "svg_icons/credit-card.svg" . }}</div>
                <div class="text f2-ns pb1">
                  <h2 class="mt0">Gran variedad de medios de pago</h2>
                  <p class="f5 mb0">Pagá hasta en 12 cuotas con gran variedad de tarjetas. <b>Descuentos y promociones exclusivas pagando en efectivo o transferencia bancaria</b>.</p>
                </div>
              </div>
              <div class="icon-row mr1-l w-50-l medida-s">
                <div class="icon o-75">{{ partial "svg_icons/envio-local.svg" . }}</div>
                <div class="text f2-ns pb1">
                  <h2 class="mt0">Envío gratis a todo el país</h2>
                  <p class="f5 mb0">Envío gratuito a la sucursal más cercana de OCA, en cualquier punto del país.</p>
                </div>
              </div>
              <div class="icon-row mr1-l w-50-l medida-s">
                <div class="icon o-75">{{ partial "svg_icons/verified.svg" . }}</div>
                <div class="text f2-ns pb1">
                  <h2 class="mt0">Comprá con seguridad</h2>
                  <p class="f5 mb0">Las bicicletas incluyen garantía oficial del fabricante.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <hr class="m0">
      </div>


    <div class="flex-l w-100 grid-l centrado mb2" style="grid-template-columns: auto 45rem; grid-template-rows: auto;max-width: 75rem">
        

        
        <aside class="mr1-l ml2-l flex-ns db-l">
          {{ partial "productos/aside.html" . }}
        </aside>


        <main class="ml1-l mr2-l flex-grow-1">
          <div class="medida centrado mt2">
            <h1 class="px2 casi-blanco mb1">Productos destacados</h1>
            <ul class="m0 p0 list-style-none product-list">
              {{ range first 4 (where .Data.Pages "Section" "productos").ByWeight }}
                  {{ .Render "li" }}
              {{ end }}
            </ul>
            <div style="clear:both"></div>
            <div class="tr">
              <a class="p0-5 small-caps f1 dib casi-blanco rojo-hover color-transition no-decoration" href="/productos/">Todos los productos <i class="dib w1 h1">{{ partial "svg_icons/chevron-right.svg" }}</i></a></li>
            </div>
          </div><!-- / productos -->
        </main>
      </div><!-- /grid -->

      


<div class="bg-gris">
    <h1 class="medida-l centrado mw-100-ns py1 px2 bg-gris casi-blanco">Acerca de nosotros</h1>
</div>
<div class="bg-blanco" style="background: linear-gradient(to right, white, white 45%, #d2eef4 46%)">
      <div class="bg-blanco medida-l mw-100-ns centrado">
        <div class="flex flex-wrap" style="align-items: flex-start;">
          <article class="p2 mb0" style="max-width: 38rem">
            {{ with .Site.GetPage "page" "" "acerca-de.md" }}
              {{ .Content }}
            {{ end }}
          </article>
          <img style="width: 22rem;max-width: 100%" class="mb0" src="/recursos/imagenes/otros/desde-cordoba-a-todo-el-pais.png">
        </div>
      </div><!-- acerca de -->
</div>

    {{ partial "footer.html" . }}
  </div>
</body>
</html>