<picture>
  <source media="(max-width: 30rem)" srcset="//res.cloudinary.com/{{.Params.cloudinary }}/image/upload/c_fill,fl_progressive,h_624,q_40,w_936/{{.Params.imagen}}" alt="{{.Title}}">
  <img src="//res.cloudinary.com/{{.Params.cloudinary }}/image/upload/b_auto,c_pad,fl_progressive,h_624,w_1640/{{.Params.imagen}}" style="max-width: 100%;max-height: 100%;" alt="{{.Title}}">
</picture>